<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold">Cetak Rekening Koran</h5>

        <mdb-card>
          <mdb-card-body>

            <!--input 1-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Tanggal Valuta</label>
              <label class="col-form-label pr-0 font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker" placeholder="Tanggal Valuta">
                  <mat-datepicker #picker></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 1-->
            <!--input 2-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nomor Referensi</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input 2-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold" style="color: #2bbbad">DATA REKENING DEBIT</label>
            </div>
            <!--input 3-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nomor Rekening Debit</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Nilai Transaksi Debit</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 3-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold" style="color: #2bbbad">DATA REKENING KREDIT</label>
            </div>
            <!--input 4-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nomor Rekening Kredit</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Nilai Transaksi Kredit</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 4-->
            <!--input 5-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nilai Ekuivalen</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input 5-->
            <!--input 6-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Kode Departemen</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <label class="col-2 col-form-label font-weight-bold">DC</label>
              <span class="col-6"></span>
            </div>
            <!--input 6-->
            <!--input 7-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Keterangan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <span></span>
              <div class="col-4"><textarea rows="4" cols="50" class="form-control"></textarea></div>
              <span class="col-6"></span>
            </div>
            <!--input 7-->
            <div>
              <hr>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold" style="color: #2bbbad">ALAT BANTU</label>
            </div>
            <div class="form-group row">
              <span class="col-2"></span>
              <label class="col-2 col-form-label font-weight-bold">Mata Uang Rekening Debit</label>
              <span class="col-2"></span>
              <label class="col-3 col-form-label font-weight-bold">Mata Uang Rekening Kredit</label>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Nilai Transaksi Debit</label>
              <div class="col-2">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label  font-weight-bold">Nilai Ekuivalen</label>
              <div class="col-2">
                  <select class="custom-select" name="optkodempn" id="optkodempn">
                    <option selected>Pilih Salah Satu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
              <label class="col-2 col-form-label  font-weight-bold">Nilai Transaksi Kredit</label>
            </div>
            <div class="form-group row">
              <div class="col-2"><input type="text" class="form-control"></div>
              <label>x</label>
              <span>&nbsp;</span>
              <div class="col-2"><input type="text" class="form-control"></div>
              <span></span>
              <label>=</label>
              <span></span>
              <div class="col-2"><input type="text" class="form-control"></div>
              <span>&nbsp;</span>
              <label>=</label>
              <span>&nbsp;&nbsp;</span>
              <div class="col-2"><input type="text" class="form-control"></div>
              <span>&nbsp;&nbsp;</span>
              <label>x</label>
              <span>&nbsp;&nbsp;</span>
              <div class="col-2"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>

            <div class="d-flex justify-content-center">
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Proses</button>
            </div>

          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>