<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold">TRANSAKSI PEMINDAHBUKUAN BEDA MATA UANG DENGAN CEK</h5>

        <mdb-card>
          <mdb-card-body>
            <form [formGroup]="validatingForm">
              <!--input 1-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Tanggal Valuta</label>
                <label class="col-form-label pr-0 font-weight-bold">:</label>
                <div class="col-3 form-inline">
                  <div class="input-group">
                    <input class="form-control" mdbValidate formControlName="inputTanggal" [matDatepicker]="picker" id="inputTanggal"
                      placeholder="Tanggal Valuta">
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="input-group-append">
                      <button mat-raised-button (click)="picker.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                    </div>
                    <p class="col-6 text-danger" *ngIf="inputTanggal.invalid && (inputTanggal.dirty || inputTanggal.touched)">Mohon
                      Pilih Tanggal Valuta</p>
                  </div>
                </div>
              </div>
              <!--input 1-->
              <!--input 2-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Nomor Referensi</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input type="text" class="form-control" id="inputNoReferensi"></div>
                <span class="col-6"></span>
              </div>
              <!--input 2-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold" style="color: #2bbbad">DATA REKENING DEBIT</label>
                <p class="col-3 mt-1 text-danger" *ngIf="inputNoRekeningDebit.invalid && (inputNoRekeningDebit.dirty || inputNoRekeningDebit.touched)">Mohon
                  Inputkan No Rekening </p>
                <p class="col-3 mt-1 text-danger" *ngIf="inputNilaiDebit.invalid && (inputNilaiDebit.dirty || inputNilaiDebit.touched)">Mohon
                  Inputkan Nilai Transaksi Debit </p>
              </div>
              <!--input 3-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Nomor Rekening Debit</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input type="text" mdbValidate formControlName="inputNoRekeningDebit" id="inputNoRekeningDebit"
                    class="form-control"></div>
                <span class="col-1"> </span>
                <label class="col-2 col-form-label font-weight-bold">Nilai Transaksi Debit</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input type="text" mdbValidate formControlName="inputNilaiDebit" id="inputNilaiDebit"
                    class="form-control"></div>
              </div>
              <!--input 3-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold" style="color: #2bbbad">DATA REKENING KREDIT</label>
                <p class="col-3 mt-1 text-danger" *ngIf="inputNoRekKredit.invalid && (inputNoRekKredit.dirty || inputNoRekKredit.touched)">Mohon
                  Inputkan No Rekening Kredit </p>
                <p class="col-3 mt-1 text-danger" *ngIf="inputNilaiKredit.invalid && (inputNilaiKredit.dirty || inputNilaiKredit.touched)">Mohon
                  Inputkan Nilai Transaksi Kredit </p>
              </div>
              <!--input 4-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Nomor Rekening Kredit</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input mdbValidate formControlName="inputNoRekKredit" id="inputNoRekKredit" type="text"
                    class="form-control"></div>
                <span class="col-1"></span>
                <label class="col-2 col-form-label font-weight-bold">Nilai Transaksi Kredit</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input mdbValidate formControlName="inputNilaiKredit" id="inputNilaiKredit" type="text"
                    class="form-control"></div>
              </div>
              <!--input 4-->
              <!--input 5-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Nilai Ekuivalen</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input mdbValidate formControlName="inputNilaiEkuivalen" id="inputNilaiEkuivalen"
                    type="text" class="form-control"></div>
                <span class="col-6">
                  <p class="mt-1 text-danger" *ngIf="inputNilaiEkuivalen.invalid && (inputNilaiEkuivalen.dirty || inputNilaiEkuivalen.touched)">Mohon
                    Inputkan Nilai Ekuivalen </p>
                </span>
              </div>
              <!--input 5-->
              <!--input 6-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Kode Departemen</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label font-weight-bold">DC</label>
                <span class="col-6"></span>
              </div>
              <!--input 6-->
              <!--input 7-->
              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold">Keterangan</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <span></span>
                <div class="col-4"><textarea rows="4" cols="50" class="form-control" id="InputKeterangan"></textarea></div>
                <span class="col-6"></span>
              </div>
              <!--input 7-->
              <div>
                <hr>
              </div>

              <div class="form-group row">
                <label class="col-2 col-form-label font-weight-bold" style="color: #2bbbad">ALAT BANTU</label>
              </div>
              <table style="min-width: 100%;">
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="font-weight-bold">Mata Uang Rekening Debit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="font-weight-bold">Mata Uang Rekening Kredit</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Nilai Transaksi Debit</td>
                    <td></td>
                    <td>
                      <select class="custom-select " name="optkodempn" id="optkodempn">
                        <option selected disabled>Pilih</option>
                        <option value="1">IDR</option>
                        <option value="2">Yen</option>
                        <option value="3">USD</option>
                      </select></td>
                    <td></td>
                    <td class="font-weight-bold">Nilai Ekuivalen</td>
                    <td></td>
                    <td><select class="custom-select" name="optkodempn" id="optkodempn">
                        <option selected disabled>Pilih Salah Satu</option>
                        <option value="1">IDR</option>
                        <option value="2">Yen</option>
                        <option value="3">USD</option>
                      </select>
                    </td>
                    <td></td>
                    <td class="font-weight-bold">Nilai Transaksi Kredit</td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control"></td>
                    <td style="max-width: 10px" class="">X</td>
                    <td><input type="text" class="form-control"></td>
                    <td style="max-width: 10px">=</td>
                    <td><input type="text" class="form-control"></td>
                    <td style="max-width: 10px">=</td>
                    <td><input type="text" class="form-control"></td>
                    <td style="max-width: 10px">X</td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                </tbody>
              </table>


              <div class="d-flex justify-content-center mt-5">
                <button mdbBtn type="button" color="primary" mdbWavesEffect *ngIf="inputTanggal.invalid || inputNoRekeningDebit.invalid || inputNilaiDebit.invalid || inputNoRekKredit.invalid || inputNilaiKredit.invalid "
                  disabled><i class="fa fa-refresh"></i> Proses</button>
                <button mdbBtn type="button" color="primary" mdbWavesEffect *ngIf="inputTanggal.valid && inputNoRekeningDebit.valid && inputNilaiDebit.valid && inputNoRekKredit.valid && inputNilaiKredit.valid "
                  (click)="proses()"><i class="fa fa-refresh"></i> Proses</button>
                <a mdbBtn type="button" color="primary" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active"><i
                    class="fa fa-reply "></i> Kembali</a>
              </div>
            </form>

          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>
