<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div class="d-flex flex-column h-100">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card konten">
        <div class="card-body">




          <!--Panel Atas 1-->
          <mdb-card class="mb-3">
            <mdb-card-body>

              <div class="row justify-content-between">
                <label class="col-2 font-weight-bold">Nama Nasabah</label>
                <label>:</label>
                <label class="col-2" *ngFor="let el of elements">{{el.namaNasabah}}</label>
                <span class="col-2"></span>
                <label class="col-2 font-weight-bold">Kode Nasabah</label>
                <label>:</label>
                <label class="col-3" *ngFor="let el of elements">{{el.kodeNasabah}}</label>
              </div>

              <div class="row justify-content-between">
                <label class="col-2 font-weight-bold">Alamat</label>
                <label>:</label>
                <label class="col-2" *ngFor="let el of elements">{{el.alamat}}</label>
                <span class="col-2"></span>
                <label class="col-2 font-weight-bold">Jenis Nasabah</label>
                <label>:</label>
                <label class="col-3" *ngFor="let el of elements">{{el.jenisNasabah}}</label>
              </div>

              <div class="row justify-content-between">
                <label class="col-2 font-weight-bold">Kota</label>
                <label>:</label>
                <label class="col-2" *ngFor="let el of elements">{{el.kota}}</label>
                <span class="col-2"></span>
                <label class="col-2 font-weight-bold">Account Officer</label>
                <label>:</label>
                <label class="col-3" *ngFor="let el of elements">{{el.accountOfficer}}</label>
              </div>

            </mdb-card-body>
          </mdb-card>


          <!-- Tabs -->
          <div class="card">
            <div class="card-body">


              <!-- Head Tab -->
              <mat-tab-group>
                <mat-tab label="INFORMASI CIF">

                  <mat-tab-group>
                    <mat-tab label="DATA UMUM CIF">
                      <app-data-umum-nasabah></app-data-umum-nasabah>
                    </mat-tab>
                    <mat-tab label="DATA PERSONAL">
                      <app-data-personal></app-data-personal>
                    </mat-tab>
                    <mat-tab label="TRANSAKSI LIMIT">
                      <app-transaksi-limit></app-transaksi-limit>
                    </mat-tab>
                    <mat-tab label="SANDI BI">
                      <app-sandi-bi></app-sandi-bi>
                    </mat-tab>
                    <mat-tab label="DATA TAMBAHAN">
                      <app-data-tambahan></app-data-tambahan>
                    </mat-tab>
                  </mat-tab-group>

                </mat-tab>

                <mat-tab label="PORTOFOLIO CIF">
                  <app-portofolio-cif></app-portofolio-cif>
                </mat-tab>
                <mat-tab label="RELASI CIF">
                  <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
                </mat-tab>
                <mat-tab label="ALAMAT TAMBAHAN">
                  <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
                </mat-tab>
                <mat-tab label="PESAN">
                  <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
                </mat-tab>
                <mat-tab label="PRODUK">
                  <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
                </mat-tab>

              </mat-tab-group>




            </div>
          </div>
          <!-- Tabs -->

        </div>
      </div>
    </div>
  </div>
  <!-- /Start your project here-->
</div>
<!--Main layout-->
