<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div class="d-flex flex-column h-100">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card konten">
        <div class="card-body">




          <!--Panel Atas 1-->
          <mdb-card class="mb-3">
            <mdb-card-body>

              <div class="row justify-content-between">
                <label class="col-2 font-weight-bold">Nama Nasabah</label>
                <label>:</label>
                <label class="col-2" *ngFor="let el of elements">{{el.namaNasabah}}</label>
                <span class="col-2"></span>
                <label class="col-2 font-weight-bold">Kode Nasabah</label>
                <label>:</label>
                <label class="col-3" *ngFor="let el of elements">{{el.kodeNasabah}}</label>
              </div>

              <div class="row justify-content-between">
                <label class="col-2 font-weight-bold">Alamat</label>
                <label>:</label>
                <label class="col-2" *ngFor="let el of elements">{{el.alamat}}</label>
                <span class="col-2"></span>
                <label class="col-2 font-weight-bold">Jenis Nasabah</label>
                <label>:</label>
                <label class="col-3" *ngFor="let el of elements">{{el.jenisNasabah}}</label>
              </div>

              <div class="row justify-content-between">
                <label class="col-2 font-weight-bold">Kota</label>
                <label>:</label>
                <label class="col-2" *ngFor="let el of elements">{{el.kota}}</label>
                <span class="col-2"></span>
                <label class="col-2 font-weight-bold">Account Officer</label>
                <label>:</label>
                <label class="col-3" *ngFor="let el of elements">{{el.accountOfficer}}</label>
              </div>

            </mdb-card-body>
          </mdb-card>


          <!-- Tabs -->
          <div class="card">
            <div class="card-body">


              <!-- Head Tab -->
              <mat-tab-group>
                <mat-tab label="INFORMASI CIF">
                  <app-informasi-cif></app-informasi-cif>
                </mat-tab>

                <mat-tab label="PORTOFOLIO CIF">
                  <app-portofolio-cif></app-portofolio-cif>
                </mat-tab>

                <mat-tab label="RELASI CIF">
                  <app-relasi-cif></app-relasi-cif>
                </mat-tab>

                <mat-tab label="ALAMAT TAMBAHAN">
                  <app-alamat-tambahan></app-alamat-tambahan>
                </mat-tab>

                <mat-tab label="PESAN">
                  <app-pesan></app-pesan>
                </mat-tab>

                <mat-tab label="PRODUK">
                  <app-produk></app-produk>
                </mat-tab>

              </mat-tab-group>




            </div>
          </div>
          <!-- Tabs -->

        </div>
      </div>
    </div>
  </div>
  <!-- /Start your project here-->
</div>
<!--Main layout-->
