header {
  padding-top: 0px;
  padding-bottom: 0px;
}



/* .navbar2 {
  background-image: url(/src/assets/image/material-img/HeaderWb.png);
  margin-top: 100px;
} */



/* ========================================================= */
/*                           NAVBAR STYLE                    */
/* ========================================================= */

/* .ul-style {
  list-style-type: none;
  font-size: 12px;
  text-align: left;
  border-radius: 20px;
  margin-bottom: 0;
  height: 70px;
}

li {
  margin-right: 30px;
  margin-top: 10px;
  color: white;
}

.list-header {
  position: absolute;
}


button {
  border-radius: 30px;
  color: white;
}

.styles {
  width: 200px;
}

.panel-style {
  margin: 10px;
}

ul.bg-opacity {
  background: rgba(225, 225, 225, 50%);
} */

/* ========================================= */

/* .card {
  width: 300px;
  height: 60px;
} */

.panel-style {
  padding: 10px;
  max-width: 18rem;
  /* margin-top: 25px; */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}


header div.row.pr-3.justify-content-end div.card.border-success.panel-style {
  background: rgba(225, 225, 225, 20%);
}

header div.row.pr-3.justify-content-end div.card.border-danger.panel-style {
  background: rgba(225, 225, 225, 20%);
}

.card-text:last-child {
  margin-bottom: 0 !important;
}

button.btn-linear {
  height: 50px;
}

button {
  border-radius: 30px;
  color: white;
}

button:hover {
  background: linear-gradient(to top right, #234a7b -15%, #ff0000 102%);
}
