<!-- Header 1 / Logo / Panel / Logout -->
<header class="navbar fixed-top align-items-center" style="z-index: 9999;">

  <div class="row-padding justify-content-start">

    <div class="row">
      <a [routerLink]="['/dashboard']">
        <img src="/src/assets/image/LOGO.png" alt="LOGO">
      </a>
    </div>

  </div>


  <div class="row pr-3 justify-content-end">

    <div class="card bg-transparent border-light panel-style" style="max-width: 18rem;">
      <div class="card-text bg-transparent text-white small">Tanggal Bisnis: {{tanggal | date:'dd/MM/yyyy'}}</div>
      <div class="card-text bg-transparent text-white small">Last Login : {{lastlogin | date:'dd/MM/yyyy
        hh:mm'}}</div>
    </div>

    <div *ngIf="offline" class="card border-success panel-style" style="max-width: 18rem;">
      <div *ngIf="offline" class="card-text text-white small">Status : <span class="text-success">Online</span></div>
      <div class="card-text text-white small">IP Anda : {{myIp}}</div>
    </div>

    <div *ngIf="!offline" class="card border-danger panel-style" style="max-width: 18rem;">
      <div *ngIf="!offline" class="card-text text-white small">Status : <span class="text-danger">Offline</span></div>
      <div class="card-text text-white small">IP Anda : {{myIp}}</div>
    </div>

    <div class="card bg-transparent border-light panel-style" style="max-width: 18rem;">
      <div class="card-text bg-transparent text-white small">Cabang</div>
      <div class="card-text bg-transparent text-white small">{{branchCode}} | {{branchName}}</div>
    </div>

    <!-- Logout -->
    <button class="btn btn-linear text-white">
      <a class="text-light" (click)="logout()">Sign Out</a>
    </button>

  </div>
</header>


<!-- <div class="row panel-style">
      <ul class="col border border-light ul-style">
        <li class="font-weight-bold text-white">Tanggal Bisnis: {{tanggal | date:'dd/MM/yyyy'}}</li>
        <li class="font-weight-bold text-white">Last Login : {{lastlogin | date:'dd/MM/yyyy hh:mm'}}</li>
      </ul>
    </div>


  <div class="row panel-style">
    <ul class="border border-light ul-style bg-opacity">
      <li *ngIf="offline" class="font-weight-bold text-white">Status : <span class="text-success">Online</span>
      </li>
      <li *ngIf="!offline" class="font-weight-bold text-white">Status : <span class="text-danger">Offline</span>
      </li>
      <li class="font-weight-bold text-white">IP Anda : {{myIp}}</li>
    </ul>
  </div>

  <div class="row panel-style">
    <ul class="border border-light ul-style">
      <li class="font-weight-bold text-white">Cabang </li>
      <li class="font-weight-bold text-white">{{branchCode}} | {{branchName}}</li>
    </ul>
  </div> -->
