<h5 class="text-primary font-weight-bold">Limit Transaksi</h5>

<!--baris 1-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Limit Setoran Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Limit Freq. Setoran</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
</div>
<!--baris 1-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Limit Setoran Non Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Limit Freq. Setoran Non Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
</div>
<!--baris 2-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Limit Penarikan Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
      <label class="col-form-label">0.0</label>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Limit Freq. Penarikan Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
</div>
<!--baris 2-->

<!--baris 3-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Limit Penarikan Non Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Limit Freq. Penarikan Non Tunai</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">0.0</label></div>
</div>
<!--baris 3-->

<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary" (click)="funcUbahLimit()">Ubah</button>
</div>
