<app-home-nav></app-home-nav>
<!--Main layout-->
<div style="margin: 20px;">
    <!-- Start your project here-->
    <div class="d-flex flex-column h-100">
        <div id="outer" class="d-flex flex-column flex-grow">
            <div class="card">
                <div class="card-body">
                    <h5>DENOMINASI</h5>
                    <!-- Default form contact -->
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <h6>DAFTAR SALDO KAS TELLER</h6>
                                <table class="table table-borderless table-sm">
                                    <tr>
                                        <td class="font-weight-normal">Mata Uang</td>
                                        <td>:</td>
                                        <td>
                                            <select class="custom-select" name="optmatauang" id="optmatauang" style="width: 200px; height: 34px;">
                                                <option selected>Pilih Salah Satu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">Saldo Awal</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 500px;"><input type="text" name="saldoawal" id="saldoawal"
                                                style="width: 250px;" class="form-control form-control-sm"></td>
                                        <td style="width: 350px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">Saldo Akhir</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 500px;"><input type="text" name="saldoakhir" id="saldoakhir"
                                                style="width: 250px;" class="form-control form-control-sm"></td>
                                        <td style="width: 350px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">Mutasi Debet</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 500px;"><input type="text" name="mutasidebet" id="mutasidebet"
                                                style="width: 250px;" class="form-control form-control-sm"></td>
                                        <td style="width: 350px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">Mutasi Kredit</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 500px;"><input type="text" name="mutasikredit" id="mutasikredit"
                                                style="width: 250px;" class="form-control form-control-sm"></td>
                                        <td style="width: 350px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">Mutasi Non Cash Debet</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 500px;"><input type="text" name="mutasinondebet" id="mutasinondebet" style="width: 250px;" class="form-control form-control-sm"></td>
                                        <td style="width: 350px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">Mutasi Non Cash Kredit</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 500px;"><input type="text" name="mutasinonkredit" id="mutasinonkredit" style="width: 250px;"
                                                class="form-control form-control-sm"></td>
                                        <td style="width: 350px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td style="width: 5px;"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <hr>
                                        </td>
                                    </tr>
                                    <h6>DENOMINASI COIN</h6>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" id="label">Orig. Currency:</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control input-sm" style="width:70px" name="origcurrency">
                                            </div>
                                            <label class="col-lg-4 control-label" id="label">Exchange Rate:</label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control input-sm" name="exchangerate">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" id="label">TPL.S(II-1):</label>
                                            <div class="invisible">
                                                <div class="col-lg-1">
                                                    <input type="text" class="form-control input-sm">
                                                </div>
                                                <label class="col-lg-1 text-info" id="label" style="padding-top:4px;">(Y/N)</label>
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control input-sm" name="tpls1">
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control input-sm" style="width:135px" name="tpls2">
                                            </div>
                                        </div>
                                </table>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary btn-rounded">Proses</button>
                                    <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>