<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold">TRANSAKSI SELISIH KAS LEBIH</h5>

        <mdb-card>
          <mdb-card-body>
            <form [formGroup]="validatingForm">
              <!--input 1-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Tanggal Valuta</label>
                <label class="col-form-label pr-0 font-weight-bold">:</label>
                <div class="col-3 form-inline">
                  <input class="form-control" value="{{tanggal | date:'dd/MM/yyyy'}}" id="inputTanggal" disabled>
                </div>
              </div>
              <!--input1-->
              <!--input 2-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Nomor Referensi</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input type="number" class="form-control" id="inputNoReferensi"></div>
                <span class="col-6"></span>
              </div>
              <!--input 2-->
              <!--input 3-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Mata Uang</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3">
                  <select class="custom-select" mdbValidate class="form-control" formControlName="mataUang" id="MataUang"
                    style="width: 250px;">
                    <option selected disabled>Pilih Salah Satu</option>
                    <option value="idr">IDR</option>
                    <option value="usd">USD</option>
                    <option value="yen">YEN</option>
                  </select>
                </div>
                <p class="col-6 text-danger" *ngIf="inputMataUang.invalid && (inputMataUang.dirty || inputMataUang.touched)">Mohon
                  Pilih Salah Satu Mata Uang</p>
              </div>
              <!--input 3-->
              <!--input 4-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Nilai Transaksi</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3">
                  <ng-container [ngSwitch]="currency">
                    <input id="nilaiTransaksi" *ngSwitchCase="'idr'" currencyMask class="form-control" formControlName="nilaiTransaksi"
                      [options]="{ prefix: 'Rp ', thousands: '.', decimal: ',',precision : '0' }">
                    <input id="nilaiTransaksi" *ngSwitchCase="'usd'" currencyMask class="form-control" formControlName="nilaiTransaksi"
                      [options]="{ prefix: '$ ', thousands: '.', decimal: ',',precision : '0' }">
                    <input id="nilaiTransaksi" *ngSwitchCase="'yen'" currencyMask class="form-control" formControlName="nilaiTransaksi"
                      [options]="{ prefix: '¥ ', thousands: '.', decimal: ',',precision : '0' }">
                    <input id="nilaiTransaksi" *ngSwitchDefault formControlName="nilaiTransaksi" class="form-control"
                      readonly>
                  </ng-container>
                </div>
                <p class="col-6 text-danger" *ngIf="nilaiTransaksi.invalid && (nilaiTransaksi.dirty || nilaiTransaksi.touched)">Mohon
                  Masukan Nilai Transaksi(*minimum Rp.10Rb)</p>
              </div>
              <!--input 4-->
              <!--input 5-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Kode Departemen</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label  font-weight-bold">DC</label>
                <span class="col-6"></span>
              </div>
              <!--input 5-->
              <!--input 6-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Keterangan</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <span></span>
                <div class="col-4"><textarea rows="4" cols="50" class="form-control" id="inputKeterangan"></textarea></div>
                <span class="col-6"></span>
              </div>
              <!--input 6-->
              <div class="d-flex justify-content-center">
                <button type="button btn-md" mdbBtn color="primary" *ngIf="inputMataUang.invalid || nilaiTransaksi.invalid"
                  mdbWavesEffect disabled> <i class="fa fa-refresh" aria-hidden="true"></i> Proses</button>
                <button type="button btn-md" mdbBtn color="primary" *ngIf="inputMataUang.valid && nilaiTransaksi.valid"
                  mdbWavesEffect (click)="proses()"> <i class="fa fa-refresh" aria-hidden="true"></i> Proses</button>
                <button type="button btn-md" mdbBtn color="primary" [routerLink]="['/']" routerLinkActive="router-link-active"
                  mdbWavesEffect>
                  <i class="fa fa-reply" aria-hidden="true"></i> Kembali
                </button>
              </div>
            </form>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>



<!-- modal template -->
<div mdbModal #modalKonfirmasi="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Notifikasi Transaksi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalKonfirmasi.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="mb-2">
          <p>Tanggal Transaksi : {{Tanggal}} </p>
        </div>
        <div class="mb-2">
          <p>No Referensi : {{noReferensi}} </p>
        </div>
        <div class="mb-2">
          <p>Mata Uang : {{mataUang}}</p>
        </div>
        <div class="mb-2">
          <p>Nilai Transaksi Transaksi :{{jumlahTransaksi}} </p>
        </div>
        <div class="mb-2">
          <p>Keterangan : {{keterangan}}</p>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="modalKonfirmasi.hide()">OK</button>
      </div>
    </div>
  </div>
</div>
