<h5 class="text-primary font-weight-bold">AKTIVASI KARTU</h5>
                      <div class="card">
                        <div class="card-body">
                          <form>
                            <h6>KONFIRMASI AKTIVASI KARTU</h6>
                            <div class="form-group row">
                              <label class="col-2 col-form-label  font-weight-bold">Nomor Kartu</label>
                              <label class="col-form-label pr-0  font-weight-bold">:</label>
                              <div class="col-3"><label class="col-form-label">1234567890</label></div>
                              <span class="col-6"></span>

                              <label class="col-2 col-form-label  font-weight-bold">Nama pada Kartu</label>
                              <label class="col-form-label pr-0  font-weight-bold">:</label>
                              <div class="col-3"><label class="col-form-label">Dian </label></div>
                              <span class="col-6"></span>

                              <label class="col-2 col-form-label  font-weight-bold">Jenis Kelamin</label>
                              <label class="col-form-label pr-0  font-weight-bold">:</label>
                              <div class="col-3"><label class="col-form-label">Perempuan </label></div>
                              <span class="col-6"></span>

                              <label class="col-2 col-form-label  font-weight-bold">Status</label>
                              <label class="col-form-label pr-0  font-weight-bold">:</label>
                              <div class="col-3"><label class="col-form-label">Lajang </label></div>
                              <span class="col-6"></span>

                              <label class="col-2 col-form-label  font-weight-bold">Nomor Telepon</label>
                              <label class="col-form-label pr-0  font-weight-bold">:</label>
                              <div class="col-3"><label class="col-form-label">081222333444</label></div>
                              <span class="col-6"></span>
                          </div>
                          </form>
                            <div class="d-flex justify-content-center">
                              <button type="button" class="btn btn-primary btn-rounded">Proses</button>
                              <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                            </div>
                        </div>
                      </div>