<mdb-card class="mb-3">
  <mdb-card-body>

    <mat-tab-group>
      <mat-tab label="Riwayat Saldo">
        <h5 class="text-primary font-weight-bold">Data Rekening Giro</h5>

        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Nomor Rekening</label>
          <label>:</label>
          <label class="col-2">0500001230</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Nama Pemegang</label>
          <label>:</label>
          <label class="col-2">ANUGRAH, CV</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Alamat Rek.</label>
          <label>:</label>
          <label class="col-2">JL. TAWANG RAJEKWESI III No.40</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Nomor Nasabah</label>
          <label>:</label>
          <label class="col-2">00774574</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Nama Nasabah</label>
          <label>:</label>
          <label class="col-2">ANUGRAH CV</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Telepon</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Mata Uang</label>
          <label>:</label>
          <label class="col-2">IDR</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Cabang</label>
          <label>:</label>
          <label class="col-2">034 Cabang Utama</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Jenis Rekening</label>
          <label>:</label>
          <label class="col-2">104 - Giro Swasta</label>
          <span class="col-2"></span>
        </div>

        <!-- Row @Double -->
        <div class="row">
          <label class="col-2 font-weight-bold">Saldo Minimum</label>
          <label>:</label>
          <label class="col-2">1.000.000,00</label>
          <span class="col-2"></span>
          <label class="col-2 font-weight-bold">Kios</label>
          <label>:</label>
          <label class="col-2"></label>
        </div>
        <div class="row">
          <label class="col-2 font-weight-bold">Kode Bunga Cerukan</label>
          <label>:</label>
          <label class="col-2">00 Suku Bunga Dasar 0.0%</label>
          <span class="col-2"></span>
          <label class="col-2 font-weight-bold">Tanggal Efektif Bunga</label>
          <label>:</label>
          <label class="col-2">01/01/2007</label>
        </div>
        <div class="row">
          <label class="col-2 font-weight-bold">Tanggal Pembukaan</label>
          <label>:</label>
          <label class="col-2">13/15/2001</label>
          <span class="col-2"></span>
          <label class="col-2 font-weight-bold">Transaksi Terakhir</label>
          <label>:</label>
          <label class="col-2">03/12/2008</label>
        </div>
        <div class="row">
          <label class="col-2 font-weight-bold">Flag Status</label>
          <label>:</label>
          <label class="col-2">00001</label>
          <span class="col-2"></span>
          <label class="col-2 font-weight-bold">Flag Biaya</label>
          <label>:</label>
          <label class="col-2">01000</label>
        </div>
        <div class="row">
          <label class="col-2 font-weight-bold">Cetak Nota</label>
          <label>:</label>
          <label class="col-2">Cetak Copy R/K : Ya</label>
          <span class="col-2"></span>
          <label class="col-2 font-weight-bold">Cetak Aktiva</label>
          <label>:</label>
          <label class="col-2">Ya</label>
        </div>
        <div class="row">
          <label class="col-2 font-weight-bold">Kode Distribusi</label>
          <label>:</label>
          <label class="col-2">Hari Cetak R/K : 31</label>
          <span class="col-2"></span>
          <label class="col-2 font-weight-bold">Stop Bunga</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
        </div>
        <!-- Row @Double -->

        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Jenis Penggunaan</label>
          <label>:</label>
          <label class="col-2">00 : Belum Diketahui</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Kd. Lokasi</label>
          <label>:</label>
          <label class="col-2">0991 - Pemkot Semarang</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Sektor Ekonomi</label>
          <label>:</label>
          <label class="col-2">0000 -</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Kolektibilitas</label>
          <label>:</label>
          <label class="col-2">1 Lancar</label>
          <span class="col-2"></span>
        </div>
        <div class="row justify-content-start">
          <label class="col-2 font-weight-bold">Restitusi</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span class="col-2"></span>
        </div>

      </mat-tab>
    </mat-tab-group>

  </mdb-card-body>
</mdb-card>
