<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">

        <form>
          <h5>Refresh User</h5>
          <mdb-card class="mb-3">
            <mdb-card-body>
              <div class="form-group row ">
                <label class="col-2 col-form-label font-weight-bold">Kriteria</label>
                <label class="col-0 col-form-label">:</label>
                <div class="col-3 pt-2">

                  <!-- radio input -->
                  <!-- Default inline 1-->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample"
                      mdbInputDirective>
                    <label class="custom-control-label" for="defaultInline1">Teller</label>
                  </div>

                  <!-- Default inline 2-->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample"
                      mdbInputDirective>
                    <label class="custom-control-label" for="defaultInline2">Customer Service</label>
                  </div>

                  <!-- Default inline 3-->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample"
                      mdbInputDirective>
                    <label class="custom-control-label" for="defaultInline3">Head Teller</label>
                  </div>

                  <!-- Default inline 4-->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample"
                      mdbInputDirective>
                    <label class="custom-control-label" for="defaultInline4">Head Customer Service</label>
                  </div>


                  <!-- radio end-->
                  <br>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-rounded">Refresh User</button>
                  </div>

                </div>
                <span class="col-2"></span>
              </div>
            </mdb-card-body>
          </mdb-card>


        </form>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>
