<h5 class="text-primary font-weight-bold">Data Umum Nasabah</h5>
<!--baris 1-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Jenis Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label">Individual</label>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">00639835</label></div>
</div>
<!--baris 1-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Nama Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">AL Mulyadi</label>
    <input class="form-control" *ngIf="isEdit" value="AL Mulyadi"></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Tanggal Pembukuan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">18/09/09</label></div>
</div>
<!--baris 2-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Flag PPH</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">No Resitutation Flag</label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Tax Id NO.(NPWP)</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label"></label>
    <input class="form-control" *ngIf="isEdit" value="082264116421">
  </div>
</div>
<!--baris 2-->

<!--baris 3-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Hp</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf=!isEdit>082264116421</label>
    <input class="form-control" *ngIf="isEdit" value="082264116421">
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Email</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">mulyadi@gmail.com</label>
    <input class="form-control" *ngIf="isEdit" value="test@gmail.com">
  </div>
</div>
<!--baris 3-->

<!--baris 4-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Nasabah Khusus</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Not Prime Customer</label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Nasabah Induk</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Parent Customer</label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
</div>
<!--baris 4-->

<!--baris 5-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Faktor Resiko</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Belum Diketahui</label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode A0 </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">CS</label>
    <input class="form-control" *ngIf="isEdit" value="CS">
  </div>
</div>
<!--baris 5-->

<!--baris 6-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kependudukan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Citizen </label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Keterkaitan </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="isEdit">No Relate</label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
</div>
<!--baris 6-->
<br>

<h5 class="font-weight-bold text-primary">Alamat</h5>

<!--baris 7-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Alamat</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-6">
    <label class="col-form-label" *ngIf="!isEdit">Jln. Raya Pemuda , Sekayu Semarang Jawa Tengah </label>
    <input class="form-control" *ngIf="isEdit" value="Jln. Raya Pemuda , Sekayu, Semarang Jawa Tengah">
  </div>
</div>
<!--baris 7-->

<!--baris 8-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kelurahan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Sekayu </label>
    <input class="form-control" *ngIf="isEdit" value="Sekayu">
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kecamatan </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Kecamatan</label>
    <input class="form-control" *ngIf="isEdit" value="Kecamatan">
  </div>
</div>
<!--baris 8-->

<!--baris 9-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kota</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Semarang </label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode Pos </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">12345</label>
    <input class="form-control" *ngIf="isEdit" value="12345">
  </div>
</div>
<!--baris 9-->

<!--baris 10-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Provinsi</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Jawa Tengah </label>
    <mat-select *ngIf="isEdit" placeholder="Select an option" disableRipple>
      <mat-option value="1">Jawa Tengah</mat-option>
      <mat-option value="2">Jawa Barat</mat-option>
      <mat-option value="3">Jawa Timur</mat-option>
    </mat-select>
  </div>
</div>
<!--baris 10-->

<!--baris 11-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Telp</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">1234567890 </label>
    <input class="form-control" *ngIf="isEdit" value="1234567890">
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">No Tlp. Alternative </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">1234567890</label>
    <input class="form-control" *ngIf="isEdit" value="1234567890">
  </div>
</div>
<!--baris 11-->

<!--baris 12-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Fax</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">1234567890 </label>
    <input class="form-control" *ngIf="isEdit" value="1234567890">
  </div>
</div>
<!--baris 12-->

<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary" (click)="funcNon()">Non Aktif</button>
  <button type="button" class="btn btn-primary" (click)="funcUbah()">Ubah</button>
</div>
