<h5 class="text-primary font-weight-bold">Data Umum Nasabah</h5>
<!--baris 1-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Jenis Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <label class="col-form-label" *ngIf="!isEdit">Individual</label>
    <input class="form-control" *ngIf="isEdit" value="Individual">
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">00639835</label></div>
</div>
<!--baris 1-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Nama Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">AL Mulyadi</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Tanggal Pembukuan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">18/09/09</label></div>
</div>
<!--baris 2-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Flag PPH</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">No Resitutation Flag</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Tax Id NO.(NPWP)</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label"></label></div>
</div>
<!--baris 2-->

<!--baris 3-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Hp</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label"></label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Email</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label"></label></div>
</div>
<!--baris 3-->

<!--baris 4-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Nasabah Khusus</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Not Prime Customer</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Nasabah Induk</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Parent Customer</label></div>
</div>
<!--baris 4-->

<!--baris 5-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Faktor Resiko</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Belum Diketahui</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode A0 </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">CS</label></div>
</div>
<!--baris 5-->

<!--baris 6-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kependudukan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Citizen </label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Keterkaitan </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">No Relate</label></div>
</div>
<!--baris 6-->
<br>

<h5 class="font-weight-bold text-primary">Alamat</h5>

<!--baris 7-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Alamat</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-6"><label class="col-form-label">Jln. Raya Pemuda , Sekayu Semarang Jawa
      Tengah </label></div>
</div>
<!--baris 7-->

<!--baris 8-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kelurahan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Sekayu </label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kecamatan </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Kecamatan</label></div>
</div>
<!--baris 8-->

<!--baris 9-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kota</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Semarang </label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode Pos </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">12345</label></div>
</div>
<!--baris 9-->

<!--baris 10-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Provinsi</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Jawa Tengah </label></div>
</div>
<!--baris 10-->

<!--baris 11-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Telp</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">1234567890 </label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">No Tlp. Alternative </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">1234567890</label></div>
</div>
<!--baris 11-->

<!--baris 12-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Fax</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">1234567890 </label></div>
</div>
<!--baris 12-->

<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary">Non Aktif</button>
  <button type="button" class="btn btn-primary" (click)="funcUbah()">Ubah</button>
</div>