<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold">Transaksi Penarikan Tunai</h5>

        <mdb-card>
          <mdb-card-body>

            <!--input 1-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Tanggal Valuta</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <label class="col-2 col-form-label  font-weight-bold">28/01/2013</label>
              <span class="col-6"></span>
            </div>
            <!--input 1-->
            <!--input 2-->
            <div class="form-group row ">
              <label class="col-2 col-form-label  font-weight-bold">Jenis Nomor</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="form-check form-check-inline">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                <label class="form-check-label"> Nomor Referensi</label>
              </div>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                <label class="form-check-label"> Nomor Cheque</label>
              </div>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input 2-->
            <!--input 3-->
            <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Nomor Rekening</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input mdbInput mdbValidate type="text" name="inputRekening" id="rekening" class="form-control" [(ngModel)]="rekening"
                    #inputRekening="ngModel" required></div>
                <span class="col-6 mt-2">
                  <p class="text-danger" *ngIf="inputRekening.invalid && (inputRekening.dirty || inputRekening.touched)">Mohon
                    Inputkan No Rekening</p>
                </span>
            </div>
            <!--input 3-->
            <!--input 4-->
            <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Nilai Transaksi</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3 "> 
                    <input mdbInput mdbValidate currencyMask name="input" type="text" class="form-control" [(ngModel)]="required" #inputNilai="ngModel" [options]="{ prefix: 'Rp ', thousands: '.', precision: 0}" required>
                </div>
                <span class="col-6 mt-2">
                  <p class="text-danger"  *ngIf="inputNilai.invalid && (inputNilai.dirty || inputNilai.touched)">Mohon
                    Inputkan Jumlah Transaksi</p>
              </span>
            </div>
            <!--input 4-->
            <!--input 5-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Kode Departemen</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <label class="col-2 col-form-label  font-weight-bold">DC</label>
              <span class="col-6"></span>
            </div>
            <!--input 5-->
            <!--input 6-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Keterangan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <span></span>
              <div class="col-4"><textarea rows="4" cols ="50" class="form-control"></textarea></div>
              <span class="col-6"></span>
            </div>
            <!--input 6-->
            <!--input 7-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Kode Taspen</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn" style="width: 250px;">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">Taspen 1</option>
                  <option value="2">Taspen 2</option>
                  <option value="3">Taspen 3</option>
                </select>
              </div>
            </div>
            <!--input 7-->
            <div class="d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light" mdbWavesEffect *ngIf="inputNilai.invalid || inputRekening.invalid" disabled><i class="fa fa-refresh"></i> Proses</button>
                <button mdbBtn color="default" class="waves-light" mdbWavesEffect *ngIf="inputNilai.valid && inputRekening.valid" data-toggle="modal" data-target="#basicExample"
                (click)="frame.show()"><i class="fa fa-refresh" ></i> Proses</button>
                <button type="button btn-md" mdbBtn color="primary" [routerLink]="['/']" routerLinkActive="router-link-active"  mdbWavesEffect>
                  <i class="fa fa-angle-left"></i> Kembali
                </button>
            </div>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>




<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Transaksi Setoran Tunai</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          Swipe Kartu Debit Customer :
          <img src="./../../../assets/image/swipe.png" class="rounded mx-auto d-block" alt="..." style="height: 100px;">
          <form (submit)="test()">
            <div class="md-form">
              <input mdbInput mdbValidate name="pinInput" type="text" id="form2" class="form-control" [(ngModel)]="minLength"
                #pinInput="ngModel" required minlength="6">
              <label for="form2">Inputkan Pin</label>
              <mdb-error *ngIf="pinInput.invalid && (pinInput.dirty || pinInput.touched)">Pin Invalid</mdb-error>
            </div>
            <div class="d-flex justify-content-center">
              <button mdbBtn color="default" class="waves-light" mdbWavesEffect *ngIf="pinInput.invalid" disabled>Proses</button>
              <button mdbBtn color="default" class="waves-light" mdbWavesEffect *ngIf="pinInput.valid">Proses</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>