<app-home-nav></app-home-nav>
<!--Main layout-->
<div style="margin: 20px;">
    <!-- Start your project here-->
    <div class="d-flex flex-column h-100">
        <div id="outer" class="d-flex flex-column flex-grow">
            <div class="card">
                <div class="card-body">
                      <!-- Default form contact -->
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <table class="table table-borderless table-sm"> 
                                    <tr style="height: 10px;">
                                        <td style="width: 270px;" class="font-weight-normal">User ID</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 95px;">JATENGSP</td>
                                    </tr>
                                </table>
                                <table class="table table-borderless table-sm"> 
                                  <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" href="#">Active</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link disabled" href="#">Disabled</a>
                                    </li>
                                  </ul>
                                </table>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary btn-rounded">Proses</button>
                                    <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <br><br><br>
                </div>
            </div>
        </div>

    </div>
</div>