<app-home-nav></app-home-nav>
<!--Main layout-->
<div style="margin: 20px;">
    <!-- Start your project here-->
    <div class="d-flex flex-column h-100">
        <div id="outer" class="d-flex flex-column flex-grow">
            <div class="card">
                <div class="card-body">
                      <!-- Default form contact -->
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <table class="table table-borderless table-sm"> 
                                    <tr style="height: 10px;">
                                        <td style="width: 170px;" class="font-weight-normal">User ID</td>
                                        <td style="width: 5px;">:</td>
                                        <td style="width: 45px;">JATENGSP</td>
                                    </tr>
                                </table>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">TELLER CASH BALANCING</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">RINGKASAN TRANSASKSI</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">DAFTAR TRANSAKSI</a>
                                    </li>
                                </ul>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary btn-rounded">Proses</button>
                                    <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <br><br><br>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
 .nav-tabs > li > a, .nav-pills > li > a {margin-left:25px;margin-right:27px;}
</style>