<!-- Start your project here-->
<div class="d-flex flex-column h-100">
  <div id="outer" class="d-flex flex-column flex-grow">
    <div class="card konten">
      <div class="card-body">

        <!-- Daftar Alamat Tambahan -->
        <mdb-card class="mb-3">
          <mdb-card-body>

            <h5 class="text-primary font-weight-bold">Daftar Alamat Tambahan</h5>

            <mdb-card class="mb-3">
              <mdb-card-body>

                <div class="row">
                  <label class="col-2 font-weight-bold">Kode Alamat</label>
                  <label>:</label>
                  <label class="col-9 font-weight-bold">1</label>
                </div>

                <div class="row">
                  <label class="col-2 font-weight-bold">Kode Alamat</label>
                  <label>:</label>
                  <label class="col-9 font-weight-bold">Jl. Pemuda No.21</label>
                </div>

                <div class="row">
                  <label class="col-2 font-weight-bold"></label>
                  <label>:</label>
                  <label class="col-9 font-weight-bold">Semarang</label>
                </div>

                <div class="row d-flex justify-content-end" aria-label="Basic example mb-0">
                  <button type="button" class="btn btn-primary" style="width: 170px">Ubah</button>
                  <button type="button" class="btn btn-primary" style="width: 170px">Non-Aktif</button>
                </div>

              </mdb-card-body>
            </mdb-card>


            <!-- Selanjutnya -->
            <div class="d-flex flex-row-reverse mt-2">
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button mdbBtn type="button" color="link" size="sm" class="waves-light">&laquo; Sebelumnya</button>
                <button mdbBtn type="button" color="link" size="sm" class="waves-light">Selanjutnya &raquo;</button>
              </div>
            </div>

            <mdb-card class="mb-3">
              <mdb-card-body>

                <h5 class="text-primary font-weight-bold">Pembuatan Alamat Tambahan</h5>

                <!-- Form Alamat Tambahan -->
                <mdb-card class="mb-3">
                  <mdb-card-body>

                    <h5 class="text-primary font-weight-bold">Form Alamat Tambahan</h5>


                    <div class="row">
                      <label class="col-2 font-weight-bold">Kode Alamat</label>
                      <label>:</label>
                      <input type="text" class="form-control col-9">
                    </div>

                    <div class="row">
                      <label class="col-2 font-weight-bold">Alamat</label>
                      <label>:</label>
                      <input type="text" class="form-control col-9">
                    </div>

                    <div class="row">
                      <label class="col-2 font-weight-bold"></label>
                      <label>:</label>
                      <input type="text" class="form-control col-9">
                    </div>

                    <div class="row">
                      <label class="col-2 font-weight-bold">Kota</label>
                      <label>:</label>
                      <mat-select placeholder="Select an option" class="col-9">
                        <mat-option value="1">Option1</mat-option>
                        <mat-option value="2">Option2</mat-option>
                      </mat-select>
                    </div>

                    <div class="row d-flex justify-content-center" aria-label="Basic example mb-0">
                      <button type="button" class="btn btn-primary" style="width: 170px">Proses</button>
                      <button type="button" class="btn btn-primary" style="width: 170px">Tutup</button>
                    </div>

                  </mdb-card-body>
                </mdb-card>
                <!-- Form Alamat Tambahan -->


                <div class="row d-flex justify-content-center" aria-label="Basic example mb-0">
                  <button type="button" class="btn btn-primary" style="width: 170px">Buat Halaman Baru</button><br>
                </div>

              </mdb-card-body>
            </mdb-card>
            <!-- Table Daftar -->

          </mdb-card-body>
        </mdb-card>
        <!-- Daftar Alamat Tambahan -->

      </div>
    </div>
  </div>
</div>
