<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
    <div id="outer" class="d-flex flex-column">
      <div class="card">
        <div class="card-body">
          <h5>Sinkronisasi Cash Drawer</h5>

          <form>
            <mdb-card>
              <mdb-card-body>
                <div class="form-group row ">
                  <label class="col-2 col-form-label font-weight-bold">User ID</label>
                  <label class="col-1 col-form-label">:</label>
                  <input type="text" class="form-control col-4">
                  <span class="col-5"></span>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" mdbBtn color="primary" mdbWavesEffect>Sinkronisasi</button>
                  </div>
              </mdb-card-body>
            </mdb-card>
          </form>

          <span style="height: 10vh;"></span>
        </div>
      </div>
    </div>

</div>
