<h5 class="text-primary font-weight-bold">Data Tambahan Lainnya </h5>
<!--baris 1-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Ibu Kandung</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control"></div>
  </div>
<!--baris 1-->
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary">Proses</button>
  <button type="button" class="btn btn-primary" (click)="funcUbahPersonal()">Kembali</button>
</div>