<mdb-card class="mb-3">
  <mdb-card-body>

    <h5 class="text-primary font-weight-bold">Data Deposito Berjangka</h5>

    <div class="row">
      <label class="col-3 font-weight-bold">Status Blokir</label>
      <label>:</label>
      <label class="col-3">Tidak</label>
      <span></span>
      <label class="col-2 font-weight-bold">Tanggal Tutup</label>
      <label>:</label>
      <label class="col-3">-</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Status Bilyet</label>
      <label>:</label>
      <label class="col-3">Belum Dicetak</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Cabang</label>
      <label>:</label>
      <label class="col-3">034</label>
      <span></span>
      <label class="col-2 font-weight-bold">Nomor</label>
      <label>:</label>
      <label class="col-3">DB0001 - Erna Damayanti</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Kode Nasabah</label>
      <label>:</label>
      <label class="col-3">1000000098 - Erna Damayanti</label>
      <span></span>
      <label class="col-2 font-weight-bold">Alamat</label>
      <label>:</label>
      <label class="col-3">-</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Subtipe</label>
      <label>:</label>
      <label class="col-3">401-</label>
      <span></span>
      <label class="col-2 font-weight-bold">Sebesar</label>
      <label>:</label>
      <label class="col-3">10.000.000.000,-</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Currency</label>
      <label>:</label>
      <label class="col-3">IDR</label>
      <span></span>
      <label class="col-2 font-weight-bold">Frekuensi Pembayaran</label>
      <label>:</label>
      <label class="col-3">1</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold"> Periode</label>
      <label>:</label>
      <label class="col-3">Bulanan</label>
      <span></span>
      <label class="col-2 font-weight-bold">Restitusi Pajak</label>
      <label>:</label>
      <label class="col-3">Tidak</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Bunga(%)</label>
      <label>:</label>
      <label class="col-3">102.5</label>
      <span></span>
      <label class="col-2 font-weight-bold">Kode Pajak</label>
      <label>:</label>
      <label class="col-3">20 200</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Jangka Waktu</label>
      <label>:</label>
      <label class="col-3">1 Bulan</label>
      <span></span>
      <label class="col-2 font-weight-bold">RollOver Ind.</label>
      <label>:</label>
      <label class="col-3">R/O Pokok</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Pembagi</label>
      <label>:</label>
      <label class="col-3">365</label>
      <span></span>
      <label class="col-2 font-weight-bold">Aro - Rate</label>
      <label>:</label>
      <label class="col-3">0</label>
    </div>

    <h6 class="text-primary font-weight-bold">Rekening</h6>

    <div class="row">
      <label class="col-3 font-weight-bold">Spread Rate</label>
      <label>:</label>
      <label class="col-3">20</label>
      <span></span>
      <label class="col-2 font-weight-bold">Tanggal Mulai</label>
      <label>:</label>
      <label class="col-3">12/12/2012</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Rate Ganti</label>
      <label>:</label>
      <label class="col-3">120</label>
      <span></span>
      <label class="col-2 font-weight-bold">Tanggal Akhir</label>
      <label>:</label>
      <label class="col-3">12/12/2012</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Outst. Cad. Bunga</label>
      <label>:</label>
      <label class="col-3">2.808.000,-</label>
      <span></span>
      <label class="col-2 font-weight-bold">Nominal</label>
      <label>:</label>
      <label class="col-3">-</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Penempatan</label>
      <label>:</label>
      <label class="col-3">-</label>
      <span></span>
      <label class="col-2 font-weight-bold">Bunga dan Pajak</label>
      <label>:</label>
      <label class="col-3">03400000013</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Tanggal Jatuh Tempo</label>
      <label>:</label>
      <label class="col-3">12/12/2012</label>
      <span></span>
      <label class="col-2 font-weight-bold">Cad. Bunga Lalu</label>
      <label>:</label>
      <label class="col-3">0.000</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Bunga Sudah Jt.</label>
      <label>:</label>
      <label class="col-3">0.000</label>
      <span></span>
      <label class="col-2 font-weight-bold">Adjus Bunga</label>
      <label>:</label>
      <label class="col-3">0.000</label>
    </div>
    <div class="row">
      <label class="col-3 font-weight-bold">Pajak Bunga</label>
      <label>:</label>
      <label class="col-3">0.000</label>
    </div>

    <h6 class="text-primary font-weight-bold">Transfer</h6>

    <div class="row">
      <label class="col-3 font-weight-bold">Bank / Rekening</label>
      <label>:</label>
      <label class="col-3">-</label>
    </div>

    <div class="row">
      <label class="col-3 font-weight-bold">Keterangan</label>
      <label>:</label>
      <label class="col-3">-</label>
    </div>

    <div class="row d-flex justify-content-center" aria-label="Basic example mb-0">
      <button type="button" class="btn btn-primary" style="width: 170px"> Mutasi</button><br>
    </div>

  </mdb-card-body>
</mdb-card>
