<!--Main layout-->
<div class="m-3 h-100">
    <!-- Start your project here-->
    <div id="outer" class="d-flex flex-column">
      <div class="card konten">
        <div class="card-body">
          <h5 class="text-primary font-weight-bold">Pengaturan Tanggal Bisnis</h5>
  
          <mdb-card>
            <mdb-card-body>
  
              <!--input 1-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold" style="width: 500px;">Tanggal Bisnis Sekarang</label>
                <label class="col-form-label pr-0 font-weight-bold" >:</label>
                <div class="col-3 form-inline" >
                  <div class="input-group">
                    <input class="form-control" [matDatepicker]="picker" placeholder="Tanggal Valuta">
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="input-group-append">
                      <button mat-raised-button (click)="picker.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                    </div>
                    &nbsp;&nbsp;
                    <button mdbBtn color="primary" size="md" class="m-0 px-3 py-2" type="button"
                      mdbWavesEffect>Cari</button>
                      <span class="col-6"></span>
                  </div>
                </div>
              </div>
              <!--input1-->
              <!--input 2-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Buka Cabang Manual </label>
                <label class="col-form-label pr-0  font-weight-bold">:</label> &nbsp;&nbsp;&nbsp;
                <div class="3"><input type="text" class="form-control"></div> &nbsp; &nbsp;
                <button mdbBtn color="primary" size="md" class="m-0 px-3 py-2" type="button"
                  mdbWavesEffect>Buka</button>
                <span class="col-6"></span>
              </div>
              <!--input 2-->

            </mdb-card-body>
          </mdb-card>
  
          <span style="height: 10vh;"></span>
        </div>
      </div>
    </div>
  
  </div>