<h5 class="text-primary font-weight-bold">Riwayat Saldo</h5>

<!--Table-->
<div class="card shadow-sm">
  <div class="card-body ">
    <table class="table table-hover table-bordered">
      <thead class="grey lighten-2">
        <tr class="font-weight-bold">
          <th scope="col">Tanggal</th>
          <th scope="col">Saldo Pembukuan</th>
          <th scope="col">Saldo Untuk Bunga</th>
          <th scope="col">Plafon</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="font-weight-normal">{{tanggal | date:'short'}}</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">0</td>
        </tr>
        <tr>
          <td class="font-weight-normal">{{tanggal | date:'short'}}</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">0</td>
        </tr>
        <tr>
          <td class="font-weight-normal">{{tanggal | date:'short'}}</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">0</td>
        </tr>
        <tr>
          <td class="font-weight-normal">{{tanggal | date:'short'}}</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">0</td>
        </tr>
        <tr>
          <td class="font-weight-normal">{{tanggal | date:'short'}}</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">1.500.000</td>
          <td class="font-weight-normal">0</td>
        </tr>

      </tbody>
    </table>
    <!-- pagination -->
    <div class="d-flex flex-row-reverse mt-2">
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button mdbBtn type="button" color="link" size="sm" class="waves-light">&laquo; Sebelumnya</button>
        <button mdbBtn type="button" color="link" size="sm" class="waves-light">1</button>
        <button mdbBtn type="button" color="link" size="sm" class="waves-light">2</button>
        <button mdbBtn type="button" color="link" size="sm" class="waves-light">3</button>
        <button mdbBtn type="button" color="link" size="sm" class="waves-light">Selanjutnya &raquo;
        </button>
      </div>
    </div>
    <!-- pagination -->
  </div>
</div>
<!-- table  -->
