<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5>Ubah Password User</h5>

        <mdb-card>
          <mdb-card-body>

            <!--input 1-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">User ID</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" value="JATENGSP" disabled="disabled" class="form-control"></div>
            </div>
            <!--input 1-->
            <!--input 2-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Nama</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" value="JATENGSP" disabled="disabled" class="form-control"></div>
            </div>
            <!--input 2-->
            <!--input 3-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Bank ID</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" value="Bank Jateng" disabled="disabled" class="form-control"></div>
            </div>
            <!--input 3-->
            <!--input 4-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Status</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" value="Buka*" disabled="disabled" class="form-control"></div>
            </div>
            <!--input 4-->
            <!--input 5-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Login Terakhir</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" value="2015-01-09 09:48:52.601" disabled="disabled" class="form-control"></div>
            </div>
            <!--input 5-->
            <div class="d-flex justify-content-center">
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Proses</button>
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Kembali</button>
            </div>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>
