<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold" style="margin-top: 10px;">Change Offline Limit</h5>

        <mdb-card>
          <mdb-card-body>
            <!--input 1-->
            <div class="form-group row">
              <label class="col-3 col-form-label  font-weight-bold">Current Offline Limit</label>
              <label class="col-form-label pr-0 font-weight-bold">:</label>
              <div class="col-3 input-group">
                <input type="text" class="form-control" >
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Ubah</span>
                </div>
              </div>
              <span class="col-6"></span>
            </div>
            <!--input1-->
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>
</div>