<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5>Change Offline Limit</h5>

        <mdb-card>
          <mdb-card-body>
            <!--input 1-->
            <div class="form-group row">
              <label class="col-3 col-form-label  font-weight-bold">Current Offline Limit</label>
              <label class="col-form-label pr-0 font-weight-bold">:</label>
              <div class="col-3 input-group mb-3">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
                      mdbWavesEffect>Button</button>
                  </div>
                </div>
              <span class="col-6"></span>
            </div>
            <!--input1-->
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>
</div>
