<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold">Test Pagination</h5>
        <mdb-card>
          <mdb-card-body>

            <!-- Tabel dan pagination dimulai dari sini -->


            <div class="example-container mat-elevation-z8">
              <div class="example-loading-shade" *ngIf="isError">
                <!-- <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
                <div class="example-rate-limit-reached">
                  {{errorMessage}}
                </div>
              </div>
              <div>
                
              </div>
              <!-- <mat-form-field class="ml-4 border">
               
                  <input matInput placeholder="Searching">
                  <div class="ml-3 border"></div>
                  <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2">Button</button>
             
              
              </mat-form-field> -->
              <div class="example-table-container">
                <div class="example-button-row">
                    <mat-form-field class="ml-3">
                        <input matInput id="inputSearch" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>&nbsp;
                  <!-- <button mat-stroked-button (click)="testing()">Searching</button> -->
                </div>
                <table mat-table [dataSource]="dataSource">
                  <!-- Number Column -->
                  <!-- Title Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>id</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                  </ng-container>

                  <!-- State Column -->
                  <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef>first_name</th>
                    <td mat-cell *matCellDef="let row">{{row.first_name}}</td>
                  </ng-container>

                  <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef>last_name</th>
                    <td mat-cell *matCellDef="let row">{{row.last_name}}</td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>
                      email
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.email}}</td>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>
                      gender
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.gender}}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paginationEvent($event)">
              </mat-paginator>
            </div>


            <!-- tabel dan pagination -->
          </mdb-card-body>
        </mdb-card>
        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>
</div>
