<mdb-card class="mb-3">
  <mdb-card-body>

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Status Blokir</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Tanggal Tutup</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

  </mdb-card-body>
</mdb-card>
