<!-- Tab Pinjaman from Parent Tab Pinjaman -->
<mdb-card class="mb-3">
  <mdb-card-body>

    <!-- Data Umum Pinjaman -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Data Umum Pinjaman</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Status</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Cust. Fact. No</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Kode Pinjaman</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Kode Nasabah</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Pemilikan Pinjaman</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Cabang</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Tipe Pinjaman</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Currency</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Tanggal Mulai</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Processing Type</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Interest Rate</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Maturity Date</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Repayment</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Metode Kalkulasi</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Fac Status</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">A/O</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Acrrue</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Base</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>
        <!-- Data Umum Pinjaman -->


      </mdb-card-body>
    </mdb-card>
    <!-- Data Umum Pinjaman -->

    <!-- Data Administrasi -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Administrasi Pinjaman</h5>

        <div class="row justify-content-center">
          <label class="col-3"></label>
          <label></label>
          <label class="col-3 font-weight-bold align-content-end">Pokok</label>
          <span></span>
          <label class="col-3 font-weight-bold align-content-end">Bunga</label>
          <label></label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Jumlah Awal</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Paid/Amourt.Amount</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Outstanding</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Past Due</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Write Off (W/O)</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Paid Un - Authorized</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">W/O Un - Authorized</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

      </mdb-card-body>
    </mdb-card>
    <!-- Data Administrasi -->

    <!-- Denda -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Denda</h5>

        <div class="row justify-content-center">
          <label class="col-3"></label>
          <label></label>
          <label class="col-3 font-weight-bold align-content-end">Denda</label>
          <span></span>
          <label class="col-3 font-weight-bold align-content-end">Pembayaran</label>
          <label></label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Paid</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Paid Un - Authorized</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Write Off (W/O)</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">W/O Un -Authorized</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

      </mdb-card-body>
    </mdb-card>
    <!-- Denda -->

    <!-- Interest Accural -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Interest Accural</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Adj. Manual</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Discounted</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Adj. By System</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Un Posted</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Last Date Accrued</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Posted</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Last Date Posted</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Capitalized</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Last Date Capitalized</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Paid</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Due</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Last Paid Principle</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Write Off</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Last Paid Interest</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Collectibility Change Reason</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

      </mdb-card-body>
    </mdb-card>
    <!-- Interest Accural -->

    <!-- Repayment -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Repayment</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Start Settlement</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Repayment Schedule</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Repayment</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Next Payment</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Freq</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span></span>
          <label class="col-1 font-weight-bold">Day</label>
          <label>:</label>
          <label class="col-1">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Last Repayment</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Start. Princ Deduct</label>
          <label>:</label>
          <label class="col-3">-</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Auto Settlement Repayment</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Next Payment Int</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Freq</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span></span>
          <label class="col-1 font-weight-bold">Day</label>
          <label>:</label>
          <label class="col-1">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Last Repayment Int</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Auto Settle Interest</label>
          <label>:</label>
          <label class="col-3">Tidak</label>
          <span></span>
        </div>

      </mdb-card-body>
    </mdb-card>
    <!-- Repayment -->

    <!-- Rate -->
    <mdb-card class="mb-3">
      <mdb-card-body>

        <h5 class="text-primary font-weight-bold">Rate</h5>

        <div class="row">
          <label class="col-3 font-weight-bold">Princ. Pinalty Rate</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Intrs. Pinalty Rate</label>
          <label>:</label>
          <label class="col-3">-</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Rate For Advise</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Alternate N/A</label>
          <label>:</label>
          <label class="col-3">-</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Cust. Fac. No.</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Parent No.</label>
          <label>:</label>
          <label class="col-3">-</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Facility Holder</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">T/I</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span></span>
          <label class="col-1 font-weight-bold">Rev</label>
          <label>:</label>
          <label class="col-1">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Date Approved</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Date Expired</label>
          <label>:</label>
          <label class="col-3">-</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Credit Class</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Collectibility Fac</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Type Of Use</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Legality Type</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Collectibility Loan</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Coll. Bank</label>
          <label>:</label>
          <label class="col-3">-</label>
          <span></span>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Operator - ID</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Authorized - By</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span></span>
          <label class="col-1 font-weight-bold">DC</label>
          <label>:</label>
          <label class="col-1">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Workstation - ID</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Override - By</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span></span>
          <label class="col-1 font-weight-bold">Date</label>
          <label>:</label>
          <label class="col-1">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Date Last Change</label>
          <label>:</label>
          <label class="col-2">Tidak</label>
          <span></span>
          <label class="col-2 font-weight-bold">Status Data</label>
          <label>:</label>
          <label class="col-2">-</label>
          <span></span>
          <label class="col-1 font-weight-bold">Time</label>
          <label>:</label>
          <label class="col-1">-</label>
        </div>

      </mdb-card-body>
    </mdb-card>
    <!-- Rate -->

  </mdb-card-body>
</mdb-card>
