<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div class="d-flex flex-column">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card konten">
        <div class="card-body">
          <!--panel 1-->
          <div class="card">
            <div class="card-body">

              <div class="form-group row mb-0">
                <label class="col-2 col-form-label font-weight-bold">User Id</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label">Jateng SP</label>
                <span class="col-1"></span>
                <label class="col-2 col-form-label font-weight-bold">Kode Bank</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label">Jateng SP</label>
              </div>

              <div class="form-group row mb-0">
                <label class="col-2 col-form-label font-weight-bold">Nama</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label">Jateng SP</label>
                <span class="col-1"></span>
                <label class="col-2 col-form-label font-weight-bold">Kode Cabang</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label">034 - Cabang Utama</label>
              </div>

              <div class="form-group row mb-0">
                <span class="col-5"></span>
                <label class="col-2 col-form-label font-weight-bold">Kode Departemen</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <label class="col-2 col-form-label">DC - Data Center</label>
              </div>


            </div>
          </div>
          <!--panel 1-->
          <!--panel 2-->
          <div class="card" style="margin-top: 20px;">
            <div class="card-body">

              <div class="form-group row mb-0">
                <span class="col-3"></span>
                <label class="col-2 col-form-label font-weight-bold">Kode Cabang</label>
                <span class="col-2"></span>
                <label class="col-2 col-form-label font-weight-bold">Status Saat Ini</label>
                <span class="col-3"></span>
              </div>

              <div class="form-group row mb-0">
                <span class="col-3"></span>
                <label class="col-2 col-form-label">034 - Cabang Utama</label>
                <span class="col-2"></span>
                <label class="col-2 col-form-label">Online</label>
                <span class="col-3"></span>
              </div>

            </div>
          </div>
          <!--panel 2-->
          <!--panel 3-->
          <div class="card" style="margin-top: 20px;">
            <div class="card-body">

              <div class="form-group row mb-0">
                <label class="col-3 col-form-label font-weight-bold">Start Of Day Terakhir</label>
                <label class="col-0 col-form-label"> : </label>
                <label class="col-3 col-form-label">28/01/2018 07:14:11</label>
                <span class="col-3"></span>
              </div>

              <div class="form-group row mb-0">
                <label class="col-3 col-form-label font-weight-bold">Tanggal Bisnis Sebelumnya</label>
                <label class="col-0 col-form-label"> : </label>
                <label class="col-3 col-form-label">28/01/1028</label>
                <span class="col-3"></span>
              </div>

              <div class="form-group row mb-0">
                <label class="col-3 col-form-label font-weight-bold">Tanggal Bisnis Sekarang</label>
                <label class="col-0 col-form-label"> : </label>
                <label class="col-3 col-form-label">29/01/1028</label>
                <span class="col-3"></span>
              </div>

              <div class="form-group row mb-0">
                <label class="col-3 col-form-label font-weight-bold">Tanggal Bisnis Berikutnya</label>
                <label class="col-0 col-form-label"> : </label>
                <label class="col-3 col-form-label">30/01/1028</label>
                <span class="col-3"></span>
              </div>

            </div>
          </div>
        </div>
        <!--panel 3-->
        <!--Button Bawah-->
        <div class="d-flex justify-content-center mt-2 mb-2">
          <button type="button" class="btn btn-primary btn-rounded">EOD</button>
          <button type="button" class="btn btn-primary btn-rounded">Offline</button>
          <button type="button" class="btn btn-primary btn-rounded">Reconnect</button>
          <!--panel 3-->

          <!--Button Bawah-->
          <br>
        </div>
        <span style="height: 20vh;"></span>
      </div>
    </div>
  </div>
  <!-- /Start your project here-->
</div>
<!--Main layout-->
