<app-home-nav></app-home-nav>
<!--Main layout-->
<div style="margin: 20px;">
  <!-- Start your project here-->
  <div class="d-flex flex-column h-100">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card">
        <div class="card-body">
          <!--panel 1-->
          <div class="card">
            <div class="card-body">
              <table class="table table-borderless">
                <tr>
                  <td class="font-weight-bold">User Id </td>
                  <td style="width: 5px;">:</td>
                  <td><strong>Jateng SP</strong></td>
                  <td style="width: 15%;"></td>
                  <td class="font-weight-bold">Kode Bank</td>
                  <td style="width: 5px;">:</td>
                  <td><strong>Bank Jateng</strong></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nama</td>
                  <td>:</td>
                  <td><strong>Jateng SP</strong></td>
                  <td></td>
                  <td class="font-weight-bold">Kode Cabang</td>
                  <td>:</td>
                  <td><strong>034 - Cabang Utama</strong></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td></td>
                  <td class="font-weight-bold">Kode Departemen</td>
                  <td>:</td>
                  <td><strong>DC - Data Center</strong></td>
                </tr>
              </table>
            </div>
          </div>
          <!--panel 1-->
          <!--panel 2-->
          <div class="card" style="margin-top: 20px;">
            <div class="card-body">
              <table class="table table-borderless">
                <tr>
                  <td class="font-weight-bold text-center">Kode Bank</td>
                  <td class="font-weight-bold text-center">Status Saat Ini</td>
                </tr>
                <tr>
                  <td class="text-center font-weight-normal">034 - Cabang Utama</td>
                  <td class="text-center font-weight-normal">Online</td>
                </tr>
              </table>
            </div>
          </div>
          <!--panel 2-->
          <!--panel 3-->
          <div class="card" style="margin-top: 20px;">
            <div class="card-body">
              <table class="table table-borderless">
                <tr>
                  <td style="width: 350px;" class="font-weight-bold">
                    Start of Day Terakhir
                  </td>
                  <td style="width: 5px;" class="font-weight-normal">
                    :
                  </td>
                  <td class="font-weight-normal">
                    28/09/2018, 15:30
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Tanggal Bisnis Sebelumnya
                  </td>
                  <td class="font-weight-normal">
                    :
                  </td>
                  <td class="font-weight-normal">
                    28/09/2018
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Tanggal Bisnis Sekarang
                  </td>
                  <td class="font-weight-normal">
                    :
                  </td>
                  <td class="font-weight-normal">
                    28/09/2018
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Tanggal Bisnis Berikutnnya
                  </td>
                  <td class="font-weight-normal">
                    :
                  </td>
                  <td class="font-weight-normal">
                    28/09/2018
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--panel 3-->
        <!--Button Bawah-->
        <div class="d-flex justify-content-center mt-2 mb-2">
          <button type="button" class="btn btn-primary btn-rounded">EOD</button>
          <button type="button" class="btn btn-primary btn-rounded">Offline</button>
          <button type="button" class="btn btn-primary btn-rounded">Reconnect</button>
          <!--panel 3-->

          <!--Button Bawah-->
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- /Start your project here-->
</div>
<!--Main layout-->
