<mdb-card class="mb-3">
  <mdb-card-body>

    <mat-tab-group>
      <mat-tab>

        <h5 class="text-primary font-weight-bold">Data Jasa Giro</h5>
        <div class="row">
          <label class="col-3 font-weight-bold">Nomor Rekening</label>
          <label>:</label>
          <label class="col-3">0500001230</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Jenis Rekening</label>
          <label>:</label>
          <label class="col-3">203 - Giro Swasta</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Nama Pemegang(Penabung)</label>
          <label>:</label>
          <label class="col-3">Anugrah, CV</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Jenis Perhitungan Bunga</label>
          <label>:</label>
          <label class="col-3">14 Threshold Rata-Rata</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Jenis Suku Bunga </label>
          <label>:</label>
          <label class="col-3">
            GRI1 Suku Bunga Giro Swasta (IDR)
          </label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Tanggal Efektif Bunga </label>
          <label>:</label>
          <label class="col-3">12/12/2012</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Pembagi Bunga</label>
          <label>:</label>
          <label class="col-3">365</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Kode Pajak Bunga</label>
          <label>:</label>
          <label class="col-3">20</label>
        </div>
        <div class="row">
          <label class="col-3 font-weight-bold">Kredit Rekening Nomor</label>
          <label>:</label>
          <label class="col-3">-</label>
        </div>

        <div class="row">
          <label class="col-3 font-weight-bold">Cetak Rincian Nomor</label>
          <label>:</label>
          <label class="col-3">YA</label>
        </div>

      </mat-tab>
    </mat-tab-group>

  </mdb-card-body>
</mdb-card>
