<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold">SINKRONISASI TRANSAKSI FINANCIAL RETAIL</h5>

        <mdb-card>
          <mdb-card-body>
            <form [formGroup]="validatingForm">
              <!--input 1-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Kode Transaksi</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3">
                  <select class="custom-select" mdbValidate class="form-control" formControlName="kodeTransaksi" id="kodeTransaksi">
                    <option selected disabled>Pilih Salah Satu</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <p class="col-6 text-danger" *ngIf="kodeTransaksi.invalid && (kodeTransaksi.dirty || kodeTransaksi.touched)">Mohon
                    Pilih Salah Satu Option</p>
              </div>
              <!--input 1-->
              <div class="d-flex justify-content-center">
                <button type="button btn-md" mdbBtn color="primary" *ngIf="kodeTransaksi.invalid" mdbWavesEffect
                  disabled> <i class="fa fa-refresh" aria-hidden="true"></i> Proses</button>
                <button type="button btn-md" mdbBtn color="primary" *ngIf="kodeTransaksi.valid" mdbWavesEffect (click)="proses()">
                  <i class="fa fa-refresh" aria-hidden="true"></i> Proses</button>
                
                 <button type="button btn-md" mdbBtn color="primary" [routerLink]="['/']" routerLinkActive="router-link-active"
                  mdbWavesEffect>
                  <i class="fa fa-reply" aria-hidden="true"></i> Kembali</button>
              </div>
            </form>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>
