<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5>Daftar Rekening Koran</h5>

        <mdb-card>
          <mdb-card-body>

            <!--input 1-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">List Spool</label>
            </div>
            <!--input1-->



          </mdb-card-body>
        </mdb-card>
        <div class="d-flex justify-content-center mt-2">
          <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Refresh</button>
          <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Batal</button>
        </div>
        <span style="height: 20vh;"></span>
      </div>
    </div>
  </div>

</div>
