<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5 class="text-primary font-weight-bold" style="margin-top: 10px;">Input Kode Pembayaran MPN</h5>

        <mdb-card>
          <mdb-card-body>

            <!--input 1-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Kode MPN</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn" style="width: 250px;">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <!--input1-->

            <div class="d-flex justify-content-center">
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Proses</button>
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Kembali</button>
            </div>
          </mdb-card-body>
        </mdb-card>

        
     <br>
      <div class="card konten">
        <div class="card-body">
          <h5 class="text-primary font-weight-bold" style="margin-top: 10px;">Input Kode Pembayaran MPN</h5>
          <mdb-card>
              <mdb-card-body>
              <!--input 1-->
              <div class="form-group row">
                  <label class="col-2 col-form-label  font-weight-bold">Tanggal Valuta</label>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-3"><label class="col-form-label">30/01/2019</label></div>
                  <span class="col-6"></span>
              </div>
              <div class="form-group row">
                  <label class="col-2 col-form-label  font-weight-bold">Kode MPN</label>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-3"><label class="col-form-label">A1-SSP dengan NPWP</label></div>
                  <span class="col-6"></span>
              </div>
              <div class="form-group row">
                  <label class="col-2 col-form-label font-weight-bold">NPWP</label>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-3"><input type="text" class="form-control"></div>
                 
                  <div class="col-1 col-form-label font-weight-bold">Kode</div>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-1"><input type="text" class="form-control"></div>
                  <span>&nbsp;</span>

                  <div class="col-2 col-form-label font-weight-bold">Kode Cabang WP</div>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-1"><input type="text" class="form-control"></div>
                  <span>&nbsp;</span>
                  <span class="col-6"></span>
              </div>
              <div class="form-group row">
                  <label class="col-2 col-form-label font-weight-bold">Kode Map</label>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-3"><input type="text" class="form-control"></div>
              </div>
              <div class="form-group row">
                  <label class="col-2 col-form-label font-weight-bold">Kode Bayar</label>
                  <label class="col-form-label pr-0  font-weight-bold">:</label>
                  <div class="col-3"><input type="text" class="form-control"></div>
              </div>
              <br>
              <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-rounded">Proses</button>
                  <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
              </div>
              </mdb-card-body>
              </mdb-card>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>