<h5 class="text-primary font-weight-bold">{{titleTab}}</h5>
<div class="card">
  <div class="card-body">

    <mat-tab-group>
      <mat-tab label="AKTIVASI">
        <ng-template matTabContent>
          <aktivasi-kartu></aktivasi-kartu>
          {{title("AKTIVASI KARTU")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="BLOKIR">
        <ng-template matTabContent>
          <blokir-kartu></blokir-kartu>
          {{title("BLOKIR KARTU")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="BUKA BLOKIR">
        <ng-template matTabContent>
          <app-buka-blokir></app-buka-blokir>
          {{title("BUKA BLOKIR")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="TUTUP">
        <ng-template matTabContent>
          <tutup-kartu></tutup-kartu>
          {{title("TUTUP KARTU")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="RELASI">
        <ng-template matTabContent>
          {{title("RELASI KARTU")}}
          <relasi-kartu></relasi-kartu>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
