<h5 class="text-primary font-weight-bold">{{titleTab}}</h5>
<div class="card">
  <div class="card-body">

    <mat-tab-group>
      <mat-tab label="Aktivasi">
        <ng-template matTabContent>
          <aktivasi-kartu></aktivasi-kartu>
          {{title("Aktivasi Kartu")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Blokir">
        <ng-template matTabContent>
          <blokir-kartu></blokir-kartu>
          {{title("Blokir Kartu")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Buka Blokir">
        <ng-template matTabContent>
          <app-buka-blokir></app-buka-blokir>
          {{title("Buka Blokir")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Tutup">
        <ng-template matTabContent>
          <tutup-kartu></tutup-kartu>
          {{title("Tutup Kartu")}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Relasi">
        <ng-template matTabContent>
          {{title("Relasi Kartu")}}
          <relasi-kartu></relasi-kartu>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>