<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div class="d-flex flex-column h-100">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card konten">
        <div class="card-body">
          <h5 class="text-primary font-weight-bold">PENCARIAN KARTU ATM</h5>
          <!-- Default form contact -->
          <div class="card">
              <div class="card-body">
              <form>
                  <h5>MASUKAN KRITERIA PENCARIAN</h5>
                  <table class="table table-borderless">
                  <tr>
                    <td style="width: 150px;" class="font-weight-normal">Pilih Kriteria</td>
                    <td style="width: 5px;">:</td>
                    <td><input class="font-weight-normal" type="radio" id="radio1" name="radio1" value="option1"
                        checked> Nomor Kartu</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><input class="font-weight-normal" type="radio" id="radio1" name="radio1" value="option1"> Nama pada Kartu</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal">Masukkan Nilai</td>
                    <td>:</td>
                    <td><input type="text" class="form-control form-control-sm" style="width: 250px;"></td>
                  </tr>
                </table>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-rounded">Cari</button>
                  <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                </div>
              </form>
            </div>
          </div>
          <br>
          <!--panel 1-->
          <h5 class="text-primary font-weight-bold" style="margin-top: 10px;">DAFTAR KARTU HASIL PENCARIAN</h5>
          <div class="card">
            <div class="card-body">
              <table class="table table-hover border">
                <thead class="grey lighten-2">
                  <tr class="col-2 col-form-label" style="color: #2bbbad; font-weight: bold;">
                    <th scope="col">NOMOR KARTU</th>
                    <th scope="col">NAMA</th>
                    <th scope="col">STATUS KARTU</th>
                    <th scope="col">BLOK</th>
                    <th scope="col">TUTUP/BUKA</th>
                  </tr>
                </thead>
                <tr>
                    <td class="font-weight-normal">123456789</td>
                    <td class="font-weight-normal">AAAA</td>
                    <td class="font-weight-normal">Aktif</td>
                    <td class="font-weight-normal">Normal</td>
                    <td class="font-weight-normal">Buka </td>
                </tr>
                <tr>
                    <td class="font-weight-normal">123456789</td>
                    <th class="font-weight-normal">DDDDDDD</th>
                    <td class="font-weight-normal">Aktif</td>
                    <td class="font-weight-normal">Capture</td>
                    <td class="font-weight-normal">Tutup</td>
                </tr>
              </table>
            </div>
          </div>
                    <!--Pagination-->
                    <div class="d-flex flex-row-reverse" style="margin-top: 15px;">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination pg-blue">
                            <li class="page-item">
                              <a class="page-link">
                                <span >&laquo;&laquo; Sebelumnya</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link">
                                <span >Selanjutnya &raquo;&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                      <!--Pagination-->
          <br>
              
        </div>
      </div>
    </div>
  </div>
</div>