<!--Main layout-->
<div style="margin: 20px;">
  <!-- Start your project here-->
  <div class="d-flex flex-column h-100">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card konten">
        <div class="card-body">
          <h5>PENCARIAN KARTU ATM</h5>
          <!-- Default form contact -->
          <div class="card">
              <div class="card-body">
              <form>
                  <h6>MASUKAN KRITERIA PENCARIAN</h6>
                  <table class="table table-borderless">
                  <tr>
                    <td style="width: 150px;" class="font-weight-normal">Pilih Kriteria</td>
                    <td style="width: 5px;">:</td>
                    <td><input class="font-weight-normal" type="radio" id="radio1" name="radio1" value="option1"
                        checked> Nomor Kartu</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><input class="font-weight-normal" type="radio" id="radio1" name="radio1" value="option1"> Nama pada Kartu</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal">Masukkan Nilai</td>
                    <td>:</td>
                    <td><input type="text" class="form-control form-control-sm" style="width: 250px;"></td>
                  </tr>
                </table>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-rounded">Cari</button>
                  <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                </div>
              </form>
            </div>
          </div>
          <br>
          
    <!-- <app-aktivasi-atm></app-aktivasi-atm> -->
      <!--Panel Tabs-->
       <div class="btn-group" role="group" aria-label="Basic example mb-0">
         <button (click)="tabAktivasi()" mdbBtn type="button" [ngClass]="{'btn-default' : konten[0], 'btn-light': !konten[0]}"
           mdbWavesEffect>Aktivasi Kartu</button>
         <button (click)="tabBlokir()" mdbBtn type="button" [ngClass]="{'btn-default' : konten[1], 'btn-light': !konten[1]}"
           mdbWavesEffect>Blokir Kartu</button>
         <button (click)="tabBukaBlokir()" mdbBtn type="button" [ngClass]="{'btn-default' : konten[2], 'btn-light': !konten[2]}"
           mdbWavesEffect>Buka Blokir Kartu</button>
         <button (click)="tabTutupKartu()" mdbBtn type="button" [ngClass]="{'btn-default' : konten[3], 'btn-light': !konten[3]}"
           mdbWavesEffect>Tutup Kartu</button>
         <button (click)="tabRelasiKartu()" mdbBtn type="button" [ngClass]="{'btn-default' : konten[4], 'btn-light': !konten[4]}"
           mdbWavesEffect>Relasi Kartu</button>
       </div>
       <!--Panel Tabs-->

       
          <!--Panel isi konten dari menu tabs-->
          <mdb-card>
            <mdb-card-body>
              <div class="tab-content">
                <div *ngIf="konten[0]" role="tabpanel" class="tab-pane active" id="one">Aktivasi Kartu</div>
                <div *ngIf="konten[1]" role="tabpanel" class="tab-pane active" id="one">Konten 2</div>
                <div *ngIf="konten[2]" role="tabpanel" class="tab-pane active" id="one">Konten 3</div>
                <div *ngIf="konten[3]" role="tabpanel" class="tab-pane active" id="one">Konten Tab Pesan</div>
              </div>
            </mdb-card-body>
          </mdb-card>
          <!--Panel isi konten dari menu tabs-->


        </div>
      </div>
    </div>
  </div>
</div>