<!--Main layout-->
<div style="margin: 20px;">
  <!-- Start your project here-->
  <div class="d-flex flex-column h-100">
    <div id="outer" class="d-flex flex-column flex-grow">
      <div class="card konten">
        <div class="card-body">
          <h5>PENCARIAN KARTU ATM</h5>
          <!-- Default form contact -->
          <div class="card">
            <div class="card-body">
              <form>
                <h6>MASUKAN KRITERIA PENCARIAN</h6>
                <table class="table table-borderless">
                  <tr>
                    <td style="width: 150px;" class="font-weight-normal">Pilih Kriteria</td>
                    <td style="width: 5px;">:</td>
                    <td><input class="font-weight-normal" type="radio" id="radio1" name="radio1" value="option1"
                        checked> Nomor Kartu</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><input class="font-weight-normal" type="radio" id="radio1" name="radio1" value="option1"> Nama pada Kartu</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal">Masukkan Nilai</td>
                    <td>:</td>
                    <td><input type="text" class="form-control form-control-sm" style="width: 250px;"></td>
                  </tr>
                </table>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-rounded">Cari</button>
                  <button type="button" class="btn btn-primary btn-rounded">Kembali</button>
                </div>
              </form>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>