<!-- Start your project here-->
<div class="d-flex flex-column h-100">
  <div id="outer" class="d-flex flex-column flex-grow">
    <div class="card konten">
      <div class="card-body">

        <!--Panel Atas 1-->
        <mdb-card class="mb-3">
          <mdb-card-body>

            <mat-tab-group>
              <mat-tab label="DATA UMUM CIF">
                <app-data-umum-nasabah></app-data-umum-nasabah>
              </mat-tab>
              <mat-tab label="DATA PERSONAL">
                <app-data-personal></app-data-personal>
              </mat-tab>
              <mat-tab label="TRANSAKSI LIMIT">
                <app-transaksi-limit></app-transaksi-limit>
              </mat-tab>
              <mat-tab label="SANDI BI">
                <app-sandi-bi></app-sandi-bi>
              </mat-tab>
              <mat-tab label="DATA TAMBAHAN">
                <app-data-tambahan></app-data-tambahan>
              </mat-tab>
            </mat-tab-group>

          </mdb-card-body>
        </mdb-card>


      </div>
    </div>
  </div>
</div>
