<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <div style="text-align:center">
          <h1>
            Webcam
          </h1>
          
          <div>
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
            <br />
            <button class="actionBtn" (click)="triggerSnapshot();">Ambil Foto</button>
            <br /><br />
            <button (click)="showNextWebcam(deviceId);">Activate</button>
          </div>
        </div>
        <div><button (click)="captureScreen()">PDF</button></div>
        <div class="snapshot" *ngIf="webcamImage" style="text-align:center"  id="kontenHalaman">
          <h2>Foto:</h2>
          <img [src]="webcamImage.imageAsDataUrl" style="height: 300px;" />
        </div>

        <h4 *ngIf="errors.length > 0">Messages:</h4>
        <ul *ngFor="let error of errors">
          <li>{{error | json}}</li>
        </ul>

      </div>
    </div>
  </div>
</div>