<h5 class="text-primary font-weight-bold">Edit Data Umum Nasabah</h5>

<!--baris 1-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Jenis Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">Individual</label></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">00639835</label></div>
</div>
<!--baris 1-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Nama Nasabah</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control" placeholder="al Mulyadi"></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Tanggal Pembukuan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">18/09/09</label></div>
</div>
<!--baris 2-->

<!--baris 2-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Flag PPH</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>No Restitution TAX</option>
      <option value="1">Restitution TAX</option>
    </select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Tax Id NO.(NPWP)</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control"></div>
</div>
<!--baris 2-->

<!--baris 3-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Hp</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control"></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Email</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control"></div>
</div>
<!--baris 3-->


<!--baris 4-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Nasabah Khusus</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Not Prime Customer</option>
      <option value="1">Not Prime Customer</option>
    </select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Nasabah Induk</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Parent Customer</option>
      <option value="1">Child Customer</option>
    </select>
  </div>
</div>
<!--baris 4-->

<!--baris 5-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Faktor Resiko</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Belum Diketahui</option>
      <option value="1">Level 1</option>
      <option value="2">Level 2</option>
      <option value="3">Level 3</option>
    </select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode A0 </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control" placeholder="A0"></div>
</div>
<!--baris 5-->

<!--baris 6-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kependudukan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Citizen</option>
      <option value="1">Foreigner</option>
    </select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Keterkaitan </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Not Related</option>
      <option value="1">Related</option>
    </select>
  </div>
</div>
<!--baris 6-->
<br>

<h5 class="font-weight-bold text-primary">Alamat</h5>

<!--baris 7-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Alamat</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-6">
    <textarea rows="4" class="form-control">
        Jalan Raya Pemuda, Sekayu Semarang Jawa Tengah 
      </textarea>
  </div>
</div>
<!--baris 7-->

<!--baris 8-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kelurahan</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control" placeholder="Gentan"></div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kecamatan </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="text" class="form-control" placeholder="Sekayu"></div>
</div>
<!--baris 8-->

<!--baris 9-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Provinsi</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Jawa Tengah</option>
      <option value="1">Jawa Barat</option>
      <option value="2">Jawa Timur</option>
      <option value="3">DKI Jakarta</option>
    </select>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">Kode Pos </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><input type="number" class="form-control" placeholder="010202"></div>
</div>
<!--baris 9-->

<!--baris 10-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">Kota</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <select class="custom-select">
      <option selected>Semarang</option>
      <option value="1">Pekalongan</option>
      <option value="2">Tegal</option>
      <option value="3">Brebes</option>
    </select>
  </div>
</div>
<!--baris 10-->

<!--baris 11-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Telp</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <div class="input-group">
      <input type="text" class="form-control col-3 mr-2" value="021">
      <input type="text" class="form-control col-9" value="1234567">
    </div>
  </div>
  <span class="col-1"></span>
  <label class="col-2 col-form-label font-weight-bold">No Tlp. Alternative </label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <div class="input-group">
      <input type="text" class="form-control col-3 mr-2" value="021">
      <input type="text" class="form-control col-9" value="123456">
    </div>
  </div>
</div>
<!--baris 11-->

<!--baris 12-->
<div class="form-group row">
  <label class="col-2 col-form-label font-weight-bold">No Fax</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3">
    <div class="input-group">
      <input type="text" class="form-control col-3 mr-2" value="021">
      <input type="text" class="form-control col-9" value="123456">
    </div>
  </div>
</div>
<!--baris 12-->

<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary" (click)="funcKembali()">Kembali</button>
  <button type="button" class="btn btn-primary">Proses </button>
</div>
