<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5>Pembuatan Nasabah Perusahaan Baru</h5>

        <mdb-card>
          <mdb-card-body>
            <!--input 1-->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Kode Nasabah CIF diambil dari
                Host</label>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Data Umum Nasabah</label>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Jenis Nasabah</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Corporate"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Kode Nasabah</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="00248346"></div>
            </div>
            <!--input 1-->
            <!--input 2-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nama Nasabah</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Mat Rasi"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Tanggal Pembukuan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="10/12/2018"></div>
            </div>
            <!--input 2-->
            <!--input 3-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Flag PPH</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">No Restitution Tax</option>
                  <option value="2">Restitution Tax</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Tax ID. No</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="12.345.678.9.123.456"></div>
            </div>
            <!--input 3-->
            <!--input 4-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">No. HP</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Email</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 4-->
            <!--input 5-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Nasabah Khusus</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Nasabah Induk</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 5-->
            <!--input 6-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Faktor Resiko</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Kode AO</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 6-->
            <!--input 7-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Kependudukan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Keterkaitan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 7-->
            <!--input 8-->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Alamat</label>
            </div>
            <!--input 8-->
            <!--input 9-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Alamat</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input 9-->
            <!--input 10-->
            <div class="form-group row">
              <span class="col-2"></span>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input 10-->
            <!--input 11-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Kelurahan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="SMG"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Kecamatan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="SMG"></div>
            </div>
            <!--input 11-->
            <!--input 12-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Kota</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Semarang"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Kode Pos</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 12-->
            <!--input 13 -->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Data Nasabah Perusahaan</label>
            </div>
            <!--input 13 -->
            <!--input 14-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Bentuk Usaha</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Bidang Usaha</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 14-->
            <!--input 15-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Ijin Usaha</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Penghasilan per Tahun</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 15-->
            <!--input 16-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Akte Pendirian</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Tanggal Berdiri</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker" placeholder="Tanggal Berdiri">
                  <mat-datepicker #picker></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 16-->
            <!--input 17-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Tujuan Penggunaan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Sumber Dana</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
            </div>
            <!--input 17-->
            <!--input 18-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Kepemilikan Modal</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Negara Asal</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">Indonesia</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 18-->
            <!--input 13 -->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Pinjaman Ke Bank Lain</label>
            </div>
            <!--input 13 -->
            <!--input 20-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Loan Flag</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">Tidak</option>
                  <option value="2">Ya</option>
                </select>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Jenis Pinjaman</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">one</option>
                  <option value="2">Two</option>
                  <option value="2">Three</option>
                </select>
              </div>
            </div>
            <!--input 20-->
            <!--input 21-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Nilai Pinjaman</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Nama Bank</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
            </div>
            <!--input 21-->
            <!--input 22-->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Data Tambahan Lainnya</label>
            </div>
            <!--input 22-->
            <!--input 23-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Tanggal Mulai SIUP</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker2" placeholder="Tanggal SIUP">
                  <mat-datepicker #picker2></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker2.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Tanggal Jatuh Tempo SIUP</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker3" placeholder="Jatuh Tempo Siup">
                  <mat-datepicker #picker3></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker3.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 23-->
            <!--input 24-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Tanda Daftar Perusahaan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input 24-->
            <!--input 25-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Tanggal Masa Berlaku TDP</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker4" placeholder="Tanggal SIUP">
                  <mat-datepicker #picker4></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker4.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Tanggal Jatuh Tempo TDP</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker5" placeholder="Jatuh Tempo Siup">
                  <mat-datepicker #picker5></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker5.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 25-->
            <!--input 26-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Akte Perubahan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Tanggal Akte Perubahan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control" [matDatepicker]="picker6" placeholder="Jatuh Tempo Siup">
                  <mat-datepicker #picker6></mat-datepicker>
                  <div class="input-group-append">
                    <button mat-raised-button (click)="picker6.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 26-->
            <!--input 27 -->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Limit Transaksi</label>
            </div>
            <!--input 27 -->
            <!--input 28-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Limit Setoran Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Semarang"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Limit Freq. Setoran</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 28-->
            <!--input 28-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Limit Setoran Non Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Semarang"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Limit Freq.Setoran Non Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 29-->
            <!--input 308-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Limit Penarikan Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Semarang"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Limit Freq. Penarikan Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 30-->
            <!--input 31-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Limit Penarikan Non Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control" value="Semarang"></div>
              <span class="col-1"></span>
              <label class="col-2 col-form-label font-weight-bold">Limit Freq.Penarikan Non Tunai</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" class="form-control"></div>
            </div>
            <!--input 31-->
            <!--input 32 -->
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold" style="color: #2bbbad">Data Sandi BI</label>
            </div>
            <!--input 32 -->
            <!--input 33-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Badan Hukum</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3">
                <select class="custom-select" name="optkodempn" id="optkodempn">
                  <option selected>Pilih Salah Satu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>
            </div>
            <!--input 33-->
            <!--input 34-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Golongan Pemilik</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control">
                  <div class="input-group-append">
                    <button mat-button color="primary" class="form-control ml-1"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 34-->
            <!--input 35-->
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Kode Industri</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <div class="input-group">
                  <input class="form-control">
                  <div class="input-group-append">
                    <button mat-button color="primary" class="form-control ml-1"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!--input 35-->
            <br><br>
            <div class="d-flex justify-content-center">
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Proses</button>
              <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Kembali</button>
            </div>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>