<!--Main layout-->
<div class="bodyContent">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card konten">
      <div class="card-body">
        <h5>Pencarian Nasabah</h5>

        <mdb-card class="mb-3">
          <mdb-card-body>
            <form [formGroup]="validatingForm">
              <!--input 1-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Pilih Kriteria</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <!-- <div class="col-3 pt-2"> -->
                <div class="col-8 radio ml-3 mt-2">
                  <label><input type="radio" name="optradio" checked> Kode Nasabah</label><br>
                  <label><input type="radio" name="optradio"> Kode Cabang</label><br>
                  <label><input type="radio" name="optradio"> No Kartu Identitas</label><br>
                  <label><input type="radio" name="optradio"> Alamat</label><br>
                  <label><input type="radio" name="optradio"> Nama Nasabah + </label><br>
                  <label>Tanggal Lahir</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" color="primary" size="md">
                      </div>
                    </div>
                    <input mdbValidate class="form-control" formControlName="inputTanggal" [matDatepicker]="picker" id="inputTanggal"
                      placeholder="Tanggal Lahir">
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="input-group-append">
                      <button mdbBtn color="primary" size="md" class="m-0 px-3 py-2" type="button" id="btnCalendar"
                        mdbWavesEffect (click)="picker.open()"><i class="fa fa-calendar"></i></button>
                    </div>

                  </div>


                </div>
              </div>
              <!--input 1-->
              <!--input 2-->
              <div class="form-group row">
                <label class="col-2 col-form-label  font-weight-bold">Masukkan Nilai</label>
                <label class="col-form-label pr-0  font-weight-bold">:</label>
                <div class="col-3"><input #inputSearch type="text" class="form-control" formControlName="inputCari"></div>
                <div class="input-group-append" id="button-addon4">
                  <button mdbBtn color="primary" size="sm" class="m-0 px-3 py-2" type="button" style="width: 60px"
                    mdbWavesEffect>Cari</button>
                </div>
              </div>

              <div>
                <hr>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label font-weight-bold">Pembuatan Nasabah Baru</label>
              </div>

              <div class="form-group row">
                <div class="col-3">
                  <select class="custom-select" [(ngModel)]="opsi" class="form-control" id="choosenValue" style="width: 250px;">
                    <option selected disabled>Pilih Salah Satu</option>
                    <option value="">None</option>
                    <option value="coorporate">Coorporate</option>
                    <option value="individual">Individual</option>
                  </select>
                </div>
                <button [attr.disabled]="selected ? null : ''" (click)="proses()" mdbBtn color="primary" size="sm"
                  class="m-0 px-3 py-2" type="button" mdbWavesEffect>Tambah</button>
                <span class="col-6"></span>
              </div>
              <!-- <div class="form-group row">
                <span class="col-2"></span>
                <div class="col-3" style="height: 40px;">
                  <mat-form-field style="width: 250px;">
                    <mat-select [(value)]="selected" class="form-control" formControlName="control">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">Corporate</mat-option>
                      <mat-option value="option2">Individual</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="input-group-append" id="button-addon4">
                  <button [attr.disabled]="selected ? null : ''" (click)="onClick()" mdbBtn color="primary" size="sm"
                    class="m-0 px-3 py-2" type="button" mdbWavesEffect>Tambah</button>
                </div>
              </div> -->
            </form>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>
