<!--Main layout-->
<div class="m-3 h-100">
  <!-- Start your project here-->
  <div id="outer" class="d-flex flex-column">
    <div class="card">
      <div class="card-body">
        <h5>Transaksi Pembayaran PKB</h5>

        <mdb-card>
          <mdb-card-body>

            <!--input 1-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Nomor Kendaraan</label>
              <label class="col-form-label pr-0  font-weight-bold">:</label>
              <div class="col-3"><input type="text" name="nokendaraan" id="nokendaraan" class="form-control"></div>
              <span class="col-6"></span>
            </div>
            <!--input1-->

            <!--input 2-->
            <div class="form-group row">
              <label class="col-2 col-form-label  font-weight-bold">Tanggal Valuta</label>
              <label class="col-form-label pr-0 font-weight-bold">:</label>
              <div class="col-3 form-inline">
                <input class="form-control" [matDatepicker]="picker" placeholder="Tanggal Mulai">
                <mat-datepicker #picker></mat-datepicker>
                <div class="input-group-append">
                  <button mat-raised-button (click)="picker.open()" class="form-control"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>
            <!--input 2-->

            <div class="d-flex justify-content-center">
                <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Proses</button>
                <button type="button btn-md" mdbBtn color="primary" mdbWavesEffect>Kembali</button>
            </div>
          </mdb-card-body>
        </mdb-card>

        <span style="height: 10vh;"></span>
      </div>
    </div>
  </div>

</div>
  