<mdb-card class="mb-3">
  <mdb-card-body>

    <!-- Informasi Fasilitas Nasabah  -->
    <h5 class="text-primary font-weight-bold">Fasilitas Nasabah</h5>

    <div class="row">
      <label class="col-2 small"></label>
      <label class="col-2 small">Cust. No.</label>
      <span></span>
      <label class="col-2 small">Fac.</label>
      <label>:</label>
      <label class="col-2 small">No.</label>
      <span></span>
      <!-- ccy & Customer Name is Label not Value -->
      <label class="col-1 small">Ccy</label>
      <label class="col-2 small">Customer Name</label>
      <!-- ccy & Customer Name is Label not Value -->
    </div>

    <div class="row">
      <label class="col-2 small">Cust. Facility. No.</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">KMG</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <!-- Place Value For ccy & Customer -->
      <label class="col-1 small">IDR</label>
      <label class="col-2 small">Ali SODIQ</label>
      <!-- Place Value For ccy & Customer -->
    </div>

    <div class="row">
      <label class="col-2 small">Status</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Branch Code</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Branch Area</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Fac. Holder</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">A/O</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">St. Data</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Control</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Revolve</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Tngb./Itngb</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Alt. Addrs</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Ins. Fac</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Multi Cust</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">M. Ccy</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Distr</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Block</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Coll</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Date Approved</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Date Avl</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Date Exp</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Review Date</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Freq</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Day No.</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Ovrd</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Fl</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Reference</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Narrative</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Overline Rate</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Overline Amount</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Fac. Amount</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Block</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Curr. Used Fac</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">UnAuthd.Amount</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Avail. Fac Amt</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Paid Free Amount</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">LastDt Payment</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Ttl. Cap. C&O Fee</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">LastDt Payment</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Ttl. Cap. C&O Fee</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>


    <div class="row">
      <label class="col-2 small">LastDt Cap. C&O</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">1st JobDt Entry</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Entry Time</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Operator</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>


    <div class="row">
      <label class="col-2 small">Entry From Area</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">From Branch</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Auth. By</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Last Amend. System Date</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

    <div class="row">
      <label class="col-2 small">Job Date</label>
      <label>:</label>
      <label class="col-2 small">-</label>
      <span></span>
      <label class="col-2 small">Time</label>
      <label>:</label>
      <label class="col-2 small">-</label>
    </div>

  </mdb-card-body>
</mdb-card>
