<mdb-card class="mb-3">
  <mdb-card-body>

    <h5 class="text-primary font-weight-bold">Daftar Jaminan Fasilitas - Collateral</h5>

    <div class="row">
      <label class="col-3 small">Facility #</label>
      <label class="col-2 small">:</label>
      <label class="col-7 small"></label>
    </div>

    <div class="row">
      <label class="col-3 small">Amount</label>
      <label class="col-2 small">:</label>
      <label class="col-7 small"></label>
    </div>

    <div class="row">
      <label class="col-3 small">Holder</label>
      <label class="col-2 small">:</label>
      <label class="col-7 small"></label>
    </div>

  </mdb-card-body>
</mdb-card>
