<!-- Start your project here-->
<div class="d-flex flex-column h-100">
  <div id="outer" class="d-flex flex-column flex-grow">
    <div class="card konten">
      <div class="card-body">


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Account Column -->
          <ng-container matColumnDef="Account">
            <th mat-header-cell *matHeaderCellDef> Account </th>
            <td mat-cell *matCellDef="let element"> {{element.account}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Nama">
            <th mat-header-cell *matHeaderCellDef> Nama </th>
            <td mat-cell *matCellDef="let element"> {{element.nama}} </td>
          </ng-container>

          <!-- Cabang Column -->
          <ng-container matColumnDef="Cabang">
            <th mat-header-cell *matHeaderCellDef> Cabang </th>
            <td mat-cell *matCellDef="let element"> {{element.cabang}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="CCY">
            <th mat-header-cell *matHeaderCellDef> CCY </th>
            <td mat-cell *matCellDef="let element"> {{element.ccy}} </td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!--Panel Atas 1-->
        <mdb-card class="mb-3">
          <mdb-card-body>

            <div class="row">
              <label class="col-2 font-weight-bold">Nomor Nasabah</label>
              <label>:</label>
              <label class="col-2">0500001230</label>
              <span class="col-2"></span>
              <label class="col-2 font-weight-bold">Nama</label>
              <label>:</label>
              <label class="col-3">Dwi S</label>
            </div>

            <div class="row">
              <label class="col-2 font-weight-bold">Total Fasilitas</label>
              <label>:</label>
              <label class="col-2">41200000</label>
              <span class="col-2"></span>
              <label class="col-2 font-weight-bold">Total O/S Debit</label>
              <label>:</label>
              <label class="col-3">01238236712</label>
            </div>

            <div class="row">
              <label class="col-2 font-weight-bold">Total Agunan</label>
              <label>:</label>
              <label class="col-2">0.10</label>
              <span class="col-2"></span>
              <label class="col-2 font-weight-bold">Collect</label>
              <label>:</label>
              <label class="col-3">2</label>
            </div>

          </mdb-card-body>
        </mdb-card>
        <!--Panel Atas 1-->



        <mat-tab-group>
          <mat-tab label="Data Administrasi">
            konten 1
          </mat-tab>
          <mat-tab label="Data Suku Bunga"> Content 2 </mat-tab>
          <mat-tab label="Saldo Rekening"> Content 3 </mat-tab>
          <mat-tab label="Mutasi"> Content 3 </mat-tab>
          <mat-tab label="Bunga Jasa Giro"> Content 3 </mat-tab>
          <mat-tab label="Bunga PRK"> Content 3 </mat-tab>
          <mat-tab label="Bunga Cerukan"> Content 3 </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</div>
