<h5 class="text-primary font-weight-bold">Data Sandi BI</h5>
<!--baris 1-->
<div class="form-group row mb-0">
  <label class="col-2 col-form-label font-weight-bold">Badan Hukum</label>
  <label class="col-form-label pr-0  font-weight-bold">:</label>
  <div class="col-3"><label class="col-form-label">PT</label></div>
</div>
<!--baris 1-->
<!--baris 2-->
<div class="form-group row mb-0">
    <label class="col-2 col-form-label font-weight-bold">Golongan Pemilik</label>
    <label class="col-form-label pr-0  font-weight-bold">:</label>
    <div class="col-3"><label class="col-form-label">ABCDEFGHIJKLM</label></div>
  </div>
  <!--baris 2-->
  <!--baris 3-->
<div class="form-group row mb-0">
    <label class="col-2 col-form-label font-weight-bold">Kode Industri</label>
    <label class="col-form-label pr-0  font-weight-bold">:</label>
    <div class="col-3"><label class="col-form-label">ABCDEFGHIJKLM</label></div>
  </div>
  <!--baris 3-->


  <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="funcUbahSandiBi()">Ubah</button>
    </div>