<!--Main Navigation-->
<div>
  <nav style="margin-top: 20vh;margin-left: 20px;">
    <button class="btn btn-default btn-press" type="submit" style= "color: #ffff00;">Financial Retail</button>
    <button class="btn btn-default btn-press" type="submit">Administrative</button>
    <button class="btn btn-default btn-press" type="submit">Report</button>
    <button class="btn btn-default btn-press" type="submit">User Maintenance</button>
    <button class="btn btn-default btn-press" type="submit">Pembayaran</button>
    <button class="btn btn-default btn-press" type="submit">Rekening</button>
    <button class="btn btn-default btn-press" type="submit">Kartu</button>
    <button class="btn btn-default btn-press" type="submit">Rekening Koran</button>
    <button class="btn btn-default btn-press" type="submit">Cash Drawer Teller</button>
    <button class="btn btn-default btn-press" type="submit">PassBook</button>
    <button class="btn btn-default btn-press" type="submit">Otorisasi Head CS</button>
    <button class="btn btn-default btn-press" type="submit">Cash Drawer</button>
    <button class="btn btn-default btn-press" type="submit">Nasabah</button>
  </nav>
</div>

<!-- Main Navigation-->
