<!--Main Navigation-->
<!-- <div class="fixed-top" style="z-index: 1031;">
  <nav class="nav d-flex justify-content-center fixed-top" style="margin-top: 15vh;">
    <nav class="col d-flex justify-content-center" style="margin-top: 20px;"> -->
<!-- <button class="btn btn-default btn-press" type="submit" style="color: #ffff00;">Financial Retail</button>
    <button class="btn btn-default btn-press" type="submit">Administrative</button>
    <button class="btn btn-default btn-press" type="submit">Report</button>
    <button class="btn btn-default btn-press" type="submit">User Maintenance</button>
    <button class="btn btn-default btn-press" type="submit">Pembayaran</button>
    <button class="btn btn-default btn-press" type="submit">Rekening</button>
    <button class="btn btn-default btn-press" type="submit">Kartu</button>
    <button class="btn btn-default btn-press" type="submit">Rekening Koran</button>
    <button class="btn btn-default btn-press" type="submit">Cash Drawer Teller</button>
    <button class="btn btn-default btn-press" type="submit">PassBook</button>
    <button class="btn btn-default btn-press" type="submit">Otorisasi Head CS</button>
    <button class="btn btn-default btn-press" type="submit">Cash Drawer</button>
    <button class="btn btn-default btn-press" type="submit">Nasabah</button> -->
<!-- <a class="nav-link active" [routerLink]="['/user/bob']">Administrative</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Report</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">User Maintenance</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Pembayaran</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Rekening</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Kartu</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Rekening Koran</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Cash Drawer Teller</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">PassBook</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Otorisasi Head CS</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Cash Drawer</a>
      <a class="nav-link active" [routerLink]="['/user/bob']">Nasabah</a>
    </nav>
  </nav>
</div> -->

<!-- Main Navigation-->
<!-- style="margin-top: 20vh;margin-left: 20px; -->
